USE [JewelryStoreDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_Users_Save]    Script Date: 28-02-2026 11:54:13 AM ******/
DROP PROCEDURE [dbo].[SP_Users_Save]
GO
/****** Object:  StoredProcedure [dbo].[SP_Users_Get]    Script Date: 28-02-2026 11:54:13 AM ******/
DROP PROCEDURE [dbo].[SP_Users_Get]
GO
/****** Object:  StoredProcedure [dbo].[SP_UserMenuAccess]    Script Date: 28-02-2026 11:54:13 AM ******/
DROP PROCEDURE [dbo].[SP_UserMenuAccess]
GO
/****** Object:  StoredProcedure [dbo].[SP_Roles_Save]    Script Date: 28-02-2026 11:54:13 AM ******/
DROP PROCEDURE [dbo].[SP_Roles_Save]
GO
/****** Object:  StoredProcedure [dbo].[SP_Roles_Get]    Script Date: 28-02-2026 11:54:13 AM ******/
DROP PROCEDURE [dbo].[SP_Roles_Get]
GO
/****** Object:  StoredProcedure [dbo].[SP_RolePermissions_Save]    Script Date: 28-02-2026 11:54:13 AM ******/
DROP PROCEDURE [dbo].[SP_RolePermissions_Save]
GO
/****** Object:  StoredProcedure [dbo].[SP_RolePermissions_Get]    Script Date: 28-02-2026 11:54:13 AM ******/
DROP PROCEDURE [dbo].[SP_RolePermissions_Get]
GO
/****** Object:  StoredProcedure [dbo].[SP_ProductVariantMapping_Save]    Script Date: 28-02-2026 11:54:13 AM ******/
DROP PROCEDURE [dbo].[SP_ProductVariantMapping_Save]
GO
/****** Object:  StoredProcedure [dbo].[SP_ProductVariantMapping_Get]    Script Date: 28-02-2026 11:54:13 AM ******/
DROP PROCEDURE [dbo].[SP_ProductVariantMapping_Get]
GO
/****** Object:  StoredProcedure [dbo].[SP_ProductVariantDetails_Save]    Script Date: 28-02-2026 11:54:13 AM ******/
DROP PROCEDURE [dbo].[SP_ProductVariantDetails_Save]
GO
/****** Object:  StoredProcedure [dbo].[SP_ProductVariantDetails_Get]    Script Date: 28-02-2026 11:54:13 AM ******/
DROP PROCEDURE [dbo].[SP_ProductVariantDetails_Get]
GO
/****** Object:  StoredProcedure [dbo].[SP_Products_Save]    Script Date: 28-02-2026 11:54:13 AM ******/
DROP PROCEDURE [dbo].[SP_Products_Save]
GO
/****** Object:  StoredProcedure [dbo].[SP_Products_Get]    Script Date: 28-02-2026 11:54:13 AM ******/
DROP PROCEDURE [dbo].[SP_Products_Get]
GO
/****** Object:  StoredProcedure [dbo].[SP_ProductImages_Save]    Script Date: 28-02-2026 11:54:13 AM ******/
DROP PROCEDURE [dbo].[SP_ProductImages_Save]
GO
/****** Object:  StoredProcedure [dbo].[SP_ProductImages_Get]    Script Date: 28-02-2026 11:54:13 AM ******/
DROP PROCEDURE [dbo].[SP_ProductImages_Get]
GO
/****** Object:  StoredProcedure [dbo].[SP_CheckAuthentication]    Script Date: 28-02-2026 11:54:13 AM ******/
DROP PROCEDURE [dbo].[SP_CheckAuthentication]
GO
/****** Object:  StoredProcedure [dbo].[SP_Category_Save]    Script Date: 28-02-2026 11:54:13 AM ******/
DROP PROCEDURE [dbo].[SP_Category_Save]
GO
/****** Object:  StoredProcedure [dbo].[SP_Category_Get]    Script Date: 28-02-2026 11:54:13 AM ******/
DROP PROCEDURE [dbo].[SP_Category_Get]
GO
/****** Object:  StoredProcedure [dbo].[SP_AttributeValue_Save]    Script Date: 28-02-2026 11:54:13 AM ******/
DROP PROCEDURE [dbo].[SP_AttributeValue_Save]
GO
/****** Object:  StoredProcedure [dbo].[SP_AttributeValue_Get]    Script Date: 28-02-2026 11:54:13 AM ******/
DROP PROCEDURE [dbo].[SP_AttributeValue_Get]
GO
/****** Object:  StoredProcedure [dbo].[SP_Attribute_Save]    Script Date: 28-02-2026 11:54:13 AM ******/
DROP PROCEDURE [dbo].[SP_Attribute_Save]
GO
/****** Object:  StoredProcedure [dbo].[SP_Attribute_Get]    Script Date: 28-02-2026 11:54:13 AM ******/
DROP PROCEDURE [dbo].[SP_Attribute_Get]
GO
/****** Object:  StoredProcedure [dbo].[SP_Actions_Save]    Script Date: 28-02-2026 11:54:13 AM ******/
DROP PROCEDURE [dbo].[SP_Actions_Save]
GO
/****** Object:  StoredProcedure [dbo].[SP_Actions_Get]    Script Date: 28-02-2026 11:54:13 AM ******/
DROP PROCEDURE [dbo].[SP_Actions_Get]
GO
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [DF__Users__CreatedDa__2077C861]
GO
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [DF__Users__IsDeleted__1F83A428]
GO
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [DF__Users__IsActive__1E8F7FEF]
GO
ALTER TABLE [dbo].[Roles] DROP CONSTRAINT [DF__Roles__CreatedDa__1D9B5BB6]
GO
ALTER TABLE [dbo].[Roles] DROP CONSTRAINT [DF__Roles__IsDeleted__1CA7377D]
GO
ALTER TABLE [dbo].[Roles] DROP CONSTRAINT [DF__Roles__IsActive__1BB31344]
GO
ALTER TABLE [dbo].[RolePermissions] DROP CONSTRAINT [DF__RolePermi__Creat__1ABEEF0B]
GO
ALTER TABLE [dbo].[RolePermissions] DROP CONSTRAINT [DF__RolePermi__IsDel__19CACAD2]
GO
ALTER TABLE [dbo].[RolePermissions] DROP CONSTRAINT [DF__RolePermi__IsAct__18D6A699]
GO
ALTER TABLE [dbo].[Reviews] DROP CONSTRAINT [DF__Reviews__Created__17E28260]
GO
ALTER TABLE [dbo].[Reviews] DROP CONSTRAINT [DF__Reviews__IsDelet__16EE5E27]
GO
ALTER TABLE [dbo].[Reviews] DROP CONSTRAINT [DF__Reviews__IsActiv__15FA39EE]
GO
ALTER TABLE [dbo].[ProductVariantMapping] DROP CONSTRAINT [DF__ProductVa__Creat__150615B5]
GO
ALTER TABLE [dbo].[ProductVariantMapping] DROP CONSTRAINT [DF__ProductVa__IsDel__1411F17C]
GO
ALTER TABLE [dbo].[ProductVariantMapping] DROP CONSTRAINT [DF__ProductVa__IsAct__131DCD43]
GO
ALTER TABLE [dbo].[ProductVariantDetails] DROP CONSTRAINT [DF__ProductVa__Creat__1229A90A]
GO
ALTER TABLE [dbo].[ProductVariantDetails] DROP CONSTRAINT [DF__ProductVa__IsDel__113584D1]
GO
ALTER TABLE [dbo].[ProductVariantDetails] DROP CONSTRAINT [DF__ProductVa__IsAct__10416098]
GO
ALTER TABLE [dbo].[Products] DROP CONSTRAINT [DF__Products__Create__0F4D3C5F]
GO
ALTER TABLE [dbo].[Products] DROP CONSTRAINT [DF__Products__IsDele__0E591826]
GO
ALTER TABLE [dbo].[Products] DROP CONSTRAINT [DF__Products__IsActi__0D64F3ED]
GO
ALTER TABLE [dbo].[ProductImages] DROP CONSTRAINT [DF__ProductIm__Creat__0C70CFB4]
GO
ALTER TABLE [dbo].[ProductImages] DROP CONSTRAINT [DF__ProductIm__IsDel__0B7CAB7B]
GO
ALTER TABLE [dbo].[ProductImages] DROP CONSTRAINT [DF__ProductIm__IsAct__0A888742]
GO
ALTER TABLE [dbo].[Orders] DROP CONSTRAINT [DF__Orders__CreatedD__09946309]
GO
ALTER TABLE [dbo].[Orders] DROP CONSTRAINT [DF__Orders__IsDelete__08A03ED0]
GO
ALTER TABLE [dbo].[Orders] DROP CONSTRAINT [DF__Orders__IsActive__07AC1A97]
GO
ALTER TABLE [dbo].[OrderItems] DROP CONSTRAINT [DF__OrderItem__Creat__06B7F65E]
GO
ALTER TABLE [dbo].[OrderItems] DROP CONSTRAINT [DF__OrderItem__IsDel__05C3D225]
GO
ALTER TABLE [dbo].[OrderItems] DROP CONSTRAINT [DF__OrderItem__IsAct__04CFADEC]
GO
ALTER TABLE [dbo].[Inquiries] DROP CONSTRAINT [DF__Inquiries__Creat__03DB89B3]
GO
ALTER TABLE [dbo].[Inquiries] DROP CONSTRAINT [DF__Inquiries__IsDel__02E7657A]
GO
ALTER TABLE [dbo].[Inquiries] DROP CONSTRAINT [DF__Inquiries__IsAct__01F34141]
GO
ALTER TABLE [dbo].[Coupons] DROP CONSTRAINT [DF__Coupons__Created__00FF1D08]
GO
ALTER TABLE [dbo].[Coupons] DROP CONSTRAINT [DF__Coupons__IsDelet__000AF8CF]
GO
ALTER TABLE [dbo].[Coupons] DROP CONSTRAINT [DF__Coupons__IsActiv__7F16D496]
GO
ALTER TABLE [dbo].[Category] DROP CONSTRAINT [DF__Category__Create__7E22B05D]
GO
ALTER TABLE [dbo].[Category] DROP CONSTRAINT [DF__Category__IsDele__7D2E8C24]
GO
ALTER TABLE [dbo].[Category] DROP CONSTRAINT [DF__Category__IsActi__7C3A67EB]
GO
ALTER TABLE [dbo].[Cart] DROP CONSTRAINT [DF__Cart__CreatedDat__7B4643B2]
GO
ALTER TABLE [dbo].[Cart] DROP CONSTRAINT [DF__Cart__IsDeleted__7A521F79]
GO
ALTER TABLE [dbo].[Cart] DROP CONSTRAINT [DF__Cart__IsActive__795DFB40]
GO
ALTER TABLE [dbo].[AttributeValue] DROP CONSTRAINT [DF__Attribute__Creat__7869D707]
GO
ALTER TABLE [dbo].[AttributeValue] DROP CONSTRAINT [DF__Attribute__IsDel__7775B2CE]
GO
ALTER TABLE [dbo].[AttributeValue] DROP CONSTRAINT [DF__Attribute__IsAct__76818E95]
GO
ALTER TABLE [dbo].[Attribute] DROP CONSTRAINT [DF__Attribute__Creat__758D6A5C]
GO
ALTER TABLE [dbo].[Attribute] DROP CONSTRAINT [DF__Attribute__IsDel__74994623]
GO
ALTER TABLE [dbo].[Attribute] DROP CONSTRAINT [DF__Attribute__IsAct__73A521EA]
GO
/****** Object:  Index [UQ__Users__A9D10534E640F34D]    Script Date: 28-02-2026 11:54:13 AM ******/
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [UQ__Users__A9D10534E640F34D]
GO
/****** Object:  Index [UQ__Roles__8A2B616094EF9BEA]    Script Date: 28-02-2026 11:54:13 AM ******/
ALTER TABLE [dbo].[Roles] DROP CONSTRAINT [UQ__Roles__8A2B616094EF9BEA]
GO
/****** Object:  Index [UQ_CouponCode]    Script Date: 28-02-2026 11:54:13 AM ******/
ALTER TABLE [dbo].[Coupons] DROP CONSTRAINT [UQ_CouponCode]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 28-02-2026 11:54:13 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Users]') AND type in (N'U'))
DROP TABLE [dbo].[Users]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 28-02-2026 11:54:13 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Roles]') AND type in (N'U'))
DROP TABLE [dbo].[Roles]
GO
/****** Object:  Table [dbo].[RolePermissions]    Script Date: 28-02-2026 11:54:13 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RolePermissions]') AND type in (N'U'))
DROP TABLE [dbo].[RolePermissions]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 28-02-2026 11:54:13 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Reviews]') AND type in (N'U'))
DROP TABLE [dbo].[Reviews]
GO
/****** Object:  Table [dbo].[ProductVariantMapping]    Script Date: 28-02-2026 11:54:13 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProductVariantMapping]') AND type in (N'U'))
DROP TABLE [dbo].[ProductVariantMapping]
GO
/****** Object:  Table [dbo].[ProductVariantDetails]    Script Date: 28-02-2026 11:54:13 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProductVariantDetails]') AND type in (N'U'))
DROP TABLE [dbo].[ProductVariantDetails]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 28-02-2026 11:54:13 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Products]') AND type in (N'U'))
DROP TABLE [dbo].[Products]
GO
/****** Object:  Table [dbo].[ProductImages]    Script Date: 28-02-2026 11:54:13 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProductImages]') AND type in (N'U'))
DROP TABLE [dbo].[ProductImages]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 28-02-2026 11:54:13 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Orders]') AND type in (N'U'))
DROP TABLE [dbo].[Orders]
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 28-02-2026 11:54:13 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[OrderItems]') AND type in (N'U'))
DROP TABLE [dbo].[OrderItems]
GO
/****** Object:  Table [dbo].[Menus]    Script Date: 28-02-2026 11:54:13 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Menus]') AND type in (N'U'))
DROP TABLE [dbo].[Menus]
GO
/****** Object:  Table [dbo].[Inquiries]    Script Date: 28-02-2026 11:54:13 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Inquiries]') AND type in (N'U'))
DROP TABLE [dbo].[Inquiries]
GO
/****** Object:  Table [dbo].[Coupons]    Script Date: 28-02-2026 11:54:13 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Coupons]') AND type in (N'U'))
DROP TABLE [dbo].[Coupons]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 28-02-2026 11:54:13 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Category]') AND type in (N'U'))
DROP TABLE [dbo].[Category]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 28-02-2026 11:54:13 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Cart]') AND type in (N'U'))
DROP TABLE [dbo].[Cart]
GO
/****** Object:  Table [dbo].[AttributeValue]    Script Date: 28-02-2026 11:54:13 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AttributeValue]') AND type in (N'U'))
DROP TABLE [dbo].[AttributeValue]
GO
/****** Object:  Table [dbo].[Attribute]    Script Date: 28-02-2026 11:54:13 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Attribute]') AND type in (N'U'))
DROP TABLE [dbo].[Attribute]
GO
/****** Object:  Table [dbo].[Attribute]    Script Date: 28-02-2026 11:54:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attribute](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AttributeName] [nvarchar](100) NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[LastModifiedBy] [int] NULL,
	[LastModifiedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AttributeValue]    Script Date: 28-02-2026 11:54:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AttributeValue](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AttributeId] [int] NULL,
	[Value] [nvarchar](150) NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[LastModifiedBy] [int] NULL,
	[LastModifiedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 28-02-2026 11:54:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[VariantId] [int] NULL,
	[Quantity] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[LastModifiedBy] [int] NULL,
	[LastModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_Cart] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 28-02-2026 11:54:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](150) NULL,
	[ParentCategoryId] [int] NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[LastModifiedBy] [int] NULL,
	[LastModifiedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Coupons]    Script Date: 28-02-2026 11:54:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Coupons](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CouponCode] [nvarchar](50) NULL,
	[DiscountType] [nvarchar](20) NULL,
	[DiscountValue] [decimal](18, 2) NULL,
	[MinimumOrderAmount] [decimal](18, 2) NULL,
	[ExpiryDate] [datetime] NULL,
	[UsageLimit] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[LastModifiedBy] [int] NULL,
	[LastModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_Coupons] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inquiries]    Script Date: 28-02-2026 11:54:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inquiries](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[ProductId] [int] NULL,
	[Subject] [nvarchar](200) NULL,
	[Message] [nvarchar](max) NULL,
	[Status] [nvarchar](50) NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[LastModifiedBy] [int] NULL,
	[LastModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_Inquiries] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menus]    Script Date: 28-02-2026 11:54:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ParentId] [int] NOT NULL,
	[Area] [nvarchar](100) NULL,
	[Controller] [nvarchar](100) NULL,
	[Url] [nvarchar](250) NULL,
	[Name] [nvarchar](150) NULL,
	[Icon] [nvarchar](150) NULL,
	[DisplayOrder] [int] NULL,
	[SuperAdmin] [nvarchar](50) NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[LastModifiedBy] [int] NULL,
	[LastModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_Menus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 28-02-2026 11:54:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NULL,
	[VariantId] [int] NULL,
	[Quantity] [int] NULL,
	[UnitPrice] [decimal](18, 2) NULL,
	[TotalPrice] [decimal](18, 2) NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[LastModifiedBy] [int] NULL,
	[LastModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_OrderItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 28-02-2026 11:54:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[OrderNumber] [nvarchar](50) NULL,
	[TotalAmount] [decimal](18, 2) NULL,
	[DiscountAmount] [decimal](18, 2) NULL,
	[FinalAmount] [decimal](18, 2) NULL,
	[OrderStatus] [nvarchar](50) NULL,
	[PaymentStatus] [nvarchar](50) NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[LastModifiedBy] [int] NULL,
	[LastModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductImages]    Script Date: 28-02-2026 11:54:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductImages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NULL,
	[VariantId] [int] NULL,
	[ImageUrl] [nvarchar](250) NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[LastModifiedBy] [int] NULL,
	[LastModifiedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 28-02-2026 11:54:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryId] [int] NULL,
	[ProductName] [nvarchar](200) NULL,
	[ProductDescription] [nvarchar](max) NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[LastModifiedBy] [int] NULL,
	[LastModifiedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductVariantDetails]    Script Date: 28-02-2026 11:54:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductVariantDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[VariantId] [int] NULL,
	[AttributeId] [int] NULL,
	[AttributeValueId] [int] NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[LastModifiedBy] [int] NULL,
	[LastModifiedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductVariantMapping]    Script Date: 28-02-2026 11:54:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductVariantMapping](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NULL,
	[SKU] [nvarchar](100) NULL,
	[Price] [decimal](18, 2) NULL,
	[StockQuantity] [int] NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[LastModifiedBy] [int] NULL,
	[LastModifiedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 28-02-2026 11:54:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NULL,
	[UserId] [int] NULL,
	[Rating] [int] NULL,
	[ReviewText] [nvarchar](max) NULL,
	[IsApproved] [bit] NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[LastModifiedBy] [int] NULL,
	[LastModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_Reviews] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolePermissions]    Script Date: 28-02-2026 11:54:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolePermissions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NULL,
	[ActionId] [int] NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[LastModifiedBy] [int] NULL,
	[LastModifiedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 28-02-2026 11:54:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](250) NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[LastModifiedBy] [int] NULL,
	[LastModifiedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 28-02-2026 11:54:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](100) NULL,
	[LastName] [nvarchar](100) NULL,
	[UserName] [nvarchar](150) NULL,
	[Password] [nvarchar](255) NULL,
	[RoleId] [int] NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[LastModifiedBy] [int] NULL,
	[LastModifiedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([Id], [CategoryName], [ParentCategoryId], [IsActive], [IsDeleted], [CreatedBy], [CreatedDate], [LastModifiedBy], [LastModifiedDate]) VALUES (1, N'Category 1', 0, 1, 0, 1, CAST(N'2026-02-27T13:19:35.917' AS DateTime), 1, CAST(N'2026-02-27T13:19:35.917' AS DateTime))
INSERT [dbo].[Category] ([Id], [CategoryName], [ParentCategoryId], [IsActive], [IsDeleted], [CreatedBy], [CreatedDate], [LastModifiedBy], [LastModifiedDate]) VALUES (2, N'Category 2', 0, 1, 0, 1, CAST(N'2026-02-27T13:19:35.917' AS DateTime), 1, CAST(N'2026-02-27T13:19:35.917' AS DateTime))
INSERT [dbo].[Category] ([Id], [CategoryName], [ParentCategoryId], [IsActive], [IsDeleted], [CreatedBy], [CreatedDate], [LastModifiedBy], [LastModifiedDate]) VALUES (3, N'Category 3', 0, 1, 0, 1, CAST(N'2026-02-27T13:19:35.917' AS DateTime), 1, CAST(N'2026-02-27T13:19:35.917' AS DateTime))
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Menus] ON 

INSERT [dbo].[Menus] ([Id], [ParentId], [Area], [Controller], [Url], [Name], [Icon], [DisplayOrder], [SuperAdmin], [IsActive], [IsDeleted], [CreatedBy], [CreatedDate], [LastModifiedBy], [LastModifiedDate]) VALUES (1, 0, NULL, NULL, NULL, N'Configuration', NULL, 1, N'1', 1, 0, 1, NULL, 1, NULL)
INSERT [dbo].[Menus] ([Id], [ParentId], [Area], [Controller], [Url], [Name], [Icon], [DisplayOrder], [SuperAdmin], [IsActive], [IsDeleted], [CreatedBy], [CreatedDate], [LastModifiedBy], [LastModifiedDate]) VALUES (2, 1, N'Admin', N'User', NULL, N'User', NULL, 2, N'1', 1, 0, 1, NULL, 1, NULL)
INSERT [dbo].[Menus] ([Id], [ParentId], [Area], [Controller], [Url], [Name], [Icon], [DisplayOrder], [SuperAdmin], [IsActive], [IsDeleted], [CreatedBy], [CreatedDate], [LastModifiedBy], [LastModifiedDate]) VALUES (3, 1, N'Admin', N'Role', NULL, N'Role', NULL, 3, N'1', 1, 0, 1, NULL, 1, NULL)
SET IDENTITY_INSERT [dbo].[Menus] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [CategoryId], [ProductName], [ProductDescription], [IsActive], [IsDeleted], [CreatedBy], [CreatedDate], [LastModifiedBy], [LastModifiedDate]) VALUES (1, 7, N'Enterprise Jewelry Item 1', N'Premium handcrafted certified jewelry piece.', 1, 0, 1, CAST(N'2026-02-27T13:19:35.920' AS DateTime), 1, CAST(N'2026-02-27T13:19:35.920' AS DateTime))
INSERT [dbo].[Products] ([Id], [CategoryId], [ProductName], [ProductDescription], [IsActive], [IsDeleted], [CreatedBy], [CreatedDate], [LastModifiedBy], [LastModifiedDate]) VALUES (2, 19, N'Enterprise Jewelry Item 2', N'Premium handcrafted certified jewelry piece.', 1, 0, 1, CAST(N'2026-02-27T13:19:35.920' AS DateTime), 1, CAST(N'2026-02-27T13:19:35.920' AS DateTime))
INSERT [dbo].[Products] ([Id], [CategoryId], [ProductName], [ProductDescription], [IsActive], [IsDeleted], [CreatedBy], [CreatedDate], [LastModifiedBy], [LastModifiedDate]) VALUES (3, 2, N'Enterprise Jewelry Item 3', N'Premium handcrafted certified jewelry piece.', 1, 0, 1, CAST(N'2026-02-27T13:19:35.920' AS DateTime), 1, CAST(N'2026-02-27T13:19:35.920' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductVariantMapping] ON 

INSERT [dbo].[ProductVariantMapping] ([Id], [ProductId], [SKU], [Price], [StockQuantity], [IsActive], [IsDeleted], [CreatedBy], [CreatedDate], [LastModifiedBy], [LastModifiedDate]) VALUES (1, 1, N'SKU-1-1', CAST(178333.00 AS Decimal(18, 2)), 46, 1, 0, 1, CAST(N'2026-02-27T13:19:35.930' AS DateTime), 1, CAST(N'2026-02-27T13:19:35.930' AS DateTime))
INSERT [dbo].[ProductVariantMapping] ([Id], [ProductId], [SKU], [Price], [StockQuantity], [IsActive], [IsDeleted], [CreatedBy], [CreatedDate], [LastModifiedBy], [LastModifiedDate]) VALUES (2, 1, N'SKU-1-2', CAST(440067.00 AS Decimal(18, 2)), 21, 1, 0, 1, CAST(N'2026-02-27T13:19:35.930' AS DateTime), 1, CAST(N'2026-02-27T13:19:35.930' AS DateTime))
INSERT [dbo].[ProductVariantMapping] ([Id], [ProductId], [SKU], [Price], [StockQuantity], [IsActive], [IsDeleted], [CreatedBy], [CreatedDate], [LastModifiedBy], [LastModifiedDate]) VALUES (3, 1, N'SKU-1-3', CAST(105796.00 AS Decimal(18, 2)), 19, 1, 0, 1, CAST(N'2026-02-27T13:19:35.930' AS DateTime), 1, CAST(N'2026-02-27T13:19:35.930' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[ProductVariantMapping] OFF
GO
SET IDENTITY_INSERT [dbo].[RolePermissions] ON 

INSERT [dbo].[RolePermissions] ([Id], [RoleId], [ActionId], [IsActive], [IsDeleted], [CreatedBy], [CreatedDate], [LastModifiedBy], [LastModifiedDate]) VALUES (1, 1, 1, 1, 0, 1, CAST(N'2026-02-27T17:02:13.787' AS DateTime), 1, CAST(N'2026-02-27T17:02:13.787' AS DateTime))
INSERT [dbo].[RolePermissions] ([Id], [RoleId], [ActionId], [IsActive], [IsDeleted], [CreatedBy], [CreatedDate], [LastModifiedBy], [LastModifiedDate]) VALUES (2, 1, 2, 1, 0, 1, CAST(N'2026-02-27T17:02:13.787' AS DateTime), 1, CAST(N'2026-02-27T17:02:13.787' AS DateTime))
INSERT [dbo].[RolePermissions] ([Id], [RoleId], [ActionId], [IsActive], [IsDeleted], [CreatedBy], [CreatedDate], [LastModifiedBy], [LastModifiedDate]) VALUES (3, 1, 3, 1, 0, 1, CAST(N'2026-02-27T17:02:13.787' AS DateTime), 1, CAST(N'2026-02-27T17:02:13.787' AS DateTime))
SET IDENTITY_INSERT [dbo].[RolePermissions] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [RoleName], [Description], [IsActive], [IsDeleted], [CreatedBy], [CreatedDate], [LastModifiedBy], [LastModifiedDate]) VALUES (1, N'Super Admin', N'Full system access', 1, 0, 1, CAST(N'2026-02-27T13:19:35.910' AS DateTime), 1, CAST(N'2026-02-27T13:19:35.910' AS DateTime))
INSERT [dbo].[Roles] ([Id], [RoleName], [Description], [IsActive], [IsDeleted], [CreatedBy], [CreatedDate], [LastModifiedBy], [LastModifiedDate]) VALUES (2, N'Admin', N'Full system access', 1, 0, 1, CAST(N'2026-02-27T13:19:35.910' AS DateTime), 1, CAST(N'2026-02-27T13:19:35.910' AS DateTime))
INSERT [dbo].[Roles] ([Id], [RoleName], [Description], [IsActive], [IsDeleted], [CreatedBy], [CreatedDate], [LastModifiedBy], [LastModifiedDate]) VALUES (3, N'Store Manager', N'Manages operations', 1, 0, 1, CAST(N'2026-02-27T13:19:35.910' AS DateTime), 1, CAST(N'2026-02-27T13:19:35.910' AS DateTime))
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [FirstName], [LastName], [UserName], [Password], [RoleId], [IsActive], [IsDeleted], [CreatedBy], [CreatedDate], [LastModifiedBy], [LastModifiedDate]) VALUES (1, N'Super', N'Admin', N'Adnin', N'Zt8+p2PF6g8=', 1, 1, 0, 1, CAST(N'2026-02-27T13:19:35.910' AS DateTime), 1, CAST(N'2026-02-27T13:19:35.910' AS DateTime))
INSERT [dbo].[Users] ([Id], [FirstName], [LastName], [UserName], [Password], [RoleId], [IsActive], [IsDeleted], [CreatedBy], [CreatedDate], [LastModifiedBy], [LastModifiedDate]) VALUES (2, N'Admin', N'', N'Admin', N'Zt8+p2PF6g8=', 2, 1, 0, 1, CAST(N'2026-02-27T13:19:35.910' AS DateTime), 1, CAST(N'2026-02-27T13:19:35.910' AS DateTime))
INSERT [dbo].[Users] ([Id], [FirstName], [LastName], [UserName], [Password], [RoleId], [IsActive], [IsDeleted], [CreatedBy], [CreatedDate], [LastModifiedBy], [LastModifiedDate]) VALUES (3, N'Arjun', N'Sharma', N'arjun.sharma@jewelrystore.com', N'k5wV61ccalc=', 5, 1, 0, 1, CAST(N'2026-02-27T13:19:35.913' AS DateTime), 1, CAST(N'2026-02-27T13:19:35.913' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_CouponCode]    Script Date: 28-02-2026 11:54:13 AM ******/
ALTER TABLE [dbo].[Coupons] ADD  CONSTRAINT [UQ_CouponCode] UNIQUE NONCLUSTERED 
(
	[CouponCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__8A2B616094EF9BEA]    Script Date: 28-02-2026 11:54:13 AM ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D10534E640F34D]    Script Date: 28-02-2026 11:54:13 AM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Attribute] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Attribute] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Attribute] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[AttributeValue] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[AttributeValue] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[AttributeValue] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Cart] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Cart] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Cart] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Category] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Category] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Category] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Coupons] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Coupons] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Coupons] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Inquiries] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Inquiries] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Inquiries] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[OrderItems] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[OrderItems] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[OrderItems] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[ProductImages] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ProductImages] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[ProductImages] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[ProductVariantDetails] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ProductVariantDetails] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[ProductVariantDetails] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[ProductVariantMapping] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ProductVariantMapping] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[ProductVariantMapping] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[RolePermissions] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[RolePermissions] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[RolePermissions] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
/****** Object:  StoredProcedure [dbo].[SP_Actions_Get]    Script Date: 28-02-2026 11:54:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[SP_Actions_Get]
(
 @Search NVARCHAR(200) = NULL,
 @Start INT = 0,
 @Length INT = 25
)
AS
BEGIN
 SET NOCOUNT ON;

 DECLARE @Total INT, @Filtered INT;

 SELECT @Total = COUNT(*) FROM Actions WHERE IsDeleted = 0;

 SELECT @Filtered = COUNT(*)
 FROM Actions
 WHERE IsDeleted = 0
   AND (@Search IS NULL OR CAST(Id AS NVARCHAR) LIKE '%' + @Search + '%');
   
 SELECT @Total AS TotalRecords, @Filtered AS FilteredRecords;

 SELECT *
 FROM Actions
 WHERE IsDeleted = 0
   AND (@Search IS NULL OR CAST(Id AS NVARCHAR) LIKE '%' + @Search + '%')
 ORDER BY Id DESC
 OFFSET @Start ROWS FETCH NEXT @Length ROWS ONLY;

END

GO
/****** Object:  StoredProcedure [dbo].[SP_Actions_Save]    Script Date: 28-02-2026 11:54:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/* ============================================================
   Actions
============================================================ */

CREATE   PROCEDURE [dbo].[SP_Actions_Save]
(
 @Id INT = 0,
 @IsActive BIT = 1,
 @IsDeleted BIT = 0,
 @Mode NVARCHAR(10),
 @OperatedBy INT,
 @response NVARCHAR(MAX) OUT
)
AS
BEGIN
 SET NOCOUNT ON;

 -- Default Error Response
 SET @response = 'E|Opps!... Something went wrong. Please contact system administrator|0';

 BEGIN TRY

  IF @Mode NOT IN ('SAVE','STATUS')
  BEGIN
   SET @response = 'E|Invalid mode supplied.|0';
   RETURN;
  END

  IF @Mode = 'SAVE'
  BEGIN
   IF @Id > 0
    UPDATE Actions
    SET LastModifiedBy = @OperatedBy,
        LastModifiedDate = GETDATE()
    WHERE Id = @Id;
   ELSE
   BEGIN
    INSERT INTO Actions (CreatedBy)
    VALUES (@OperatedBy);

    SET @Id = SCOPE_IDENTITY();
   END
  END
  ELSE IF @Mode = 'STATUS'
  BEGIN
   UPDATE Actions
   SET IsActive = @IsActive,
       IsDeleted = @IsDeleted,
       LastModifiedBy = @OperatedBy,
       LastModifiedDate = GETDATE()
   WHERE Id = @Id;
  END

  SET @response = 'S|Record saved successfully|' + CAST(@Id AS NVARCHAR);
  RETURN;

 END TRY
 BEGIN CATCH
  SET @response = 'E|' + ERROR_MESSAGE() + '|0';
  RETURN;
 END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[SP_Attribute_Get]    Script Date: 28-02-2026 11:54:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[SP_Attribute_Get]
(
 @Search NVARCHAR(200) = NULL,
 @Start INT = 0,
 @Length INT = 25
)
AS
BEGIN
 SET NOCOUNT ON;

 DECLARE @Total INT, @Filtered INT;

 SELECT @Total = COUNT(*) FROM Attribute WHERE IsDeleted = 0;

 SELECT @Filtered = COUNT(*)
 FROM Attribute
 WHERE IsDeleted = 0
   AND (@Search IS NULL OR CAST(Id AS NVARCHAR) LIKE '%' + @Search + '%');
   
 SELECT @Total AS TotalRecords, @Filtered AS FilteredRecords;

 SELECT *
 FROM Attribute
 WHERE IsDeleted = 0
   AND (@Search IS NULL OR CAST(Id AS NVARCHAR) LIKE '%' + @Search + '%')
 ORDER BY Id DESC
 OFFSET @Start ROWS FETCH NEXT @Length ROWS ONLY;

END

GO
/****** Object:  StoredProcedure [dbo].[SP_Attribute_Save]    Script Date: 28-02-2026 11:54:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/* ============================================================
   Attribute
============================================================ */

CREATE   PROCEDURE [dbo].[SP_Attribute_Save]
(
 @Id INT = 0,
 @IsActive BIT = 1,
 @IsDeleted BIT = 0,
 @Mode NVARCHAR(10),
 @OperatedBy INT,
 @response NVARCHAR(MAX) OUT
)
AS
BEGIN
 SET NOCOUNT ON;

 -- Default Error Response
 SET @response = 'E|Opps!... Something went wrong. Please contact system administrator|0';

 BEGIN TRY

  IF @Mode NOT IN ('SAVE','STATUS')
  BEGIN
   SET @response = 'E|Invalid mode supplied.|0';
   RETURN;
  END

  IF @Mode = 'SAVE'
  BEGIN
   IF @Id > 0
    UPDATE Attribute
    SET LastModifiedBy = @OperatedBy,
        LastModifiedDate = GETDATE()
    WHERE Id = @Id;
   ELSE
   BEGIN
    INSERT INTO Attribute (CreatedBy)
    VALUES (@OperatedBy);

    SET @Id = SCOPE_IDENTITY();
   END
  END
  ELSE IF @Mode = 'STATUS'
  BEGIN
   UPDATE Attribute
   SET IsActive = @IsActive,
       IsDeleted = @IsDeleted,
       LastModifiedBy = @OperatedBy,
       LastModifiedDate = GETDATE()
   WHERE Id = @Id;
  END

  SET @response = 'S|Record saved successfully|' + CAST(@Id AS NVARCHAR);
  RETURN;

 END TRY
 BEGIN CATCH
  SET @response = 'E|' + ERROR_MESSAGE() + '|0';
  RETURN;
 END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[SP_AttributeValue_Get]    Script Date: 28-02-2026 11:54:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[SP_AttributeValue_Get]
(
 @Search NVARCHAR(200) = NULL,
 @Start INT = 0,
 @Length INT = 25
)
AS
BEGIN
 SET NOCOUNT ON;

 DECLARE @Total INT, @Filtered INT;

 SELECT @Total = COUNT(*) FROM AttributeValue WHERE IsDeleted = 0;

 SELECT @Filtered = COUNT(*)
 FROM AttributeValue
 WHERE IsDeleted = 0
   AND (@Search IS NULL OR CAST(Id AS NVARCHAR) LIKE '%' + @Search + '%');
   
 SELECT @Total AS TotalRecords, @Filtered AS FilteredRecords;

 SELECT *
 FROM AttributeValue
 WHERE IsDeleted = 0
   AND (@Search IS NULL OR CAST(Id AS NVARCHAR) LIKE '%' + @Search + '%')
 ORDER BY Id DESC
 OFFSET @Start ROWS FETCH NEXT @Length ROWS ONLY;

END

GO
/****** Object:  StoredProcedure [dbo].[SP_AttributeValue_Save]    Script Date: 28-02-2026 11:54:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/* ============================================================
   AttributeValue
============================================================ */

CREATE   PROCEDURE [dbo].[SP_AttributeValue_Save]
(
 @Id INT = 0,
 @IsActive BIT = 1,
 @IsDeleted BIT = 0,
 @Mode NVARCHAR(10),
 @OperatedBy INT,
 @response NVARCHAR(MAX) OUT
)
AS
BEGIN
 SET NOCOUNT ON;

 -- Default Error Response
 SET @response = 'E|Opps!... Something went wrong. Please contact system administrator|0';

 BEGIN TRY

  IF @Mode NOT IN ('SAVE','STATUS')
  BEGIN
   SET @response = 'E|Invalid mode supplied.|0';
   RETURN;
  END

  IF @Mode = 'SAVE'
  BEGIN
   IF @Id > 0
    UPDATE AttributeValue
    SET LastModifiedBy = @OperatedBy,
        LastModifiedDate = GETDATE()
    WHERE Id = @Id;
   ELSE
   BEGIN
    INSERT INTO AttributeValue (CreatedBy)
    VALUES (@OperatedBy);

    SET @Id = SCOPE_IDENTITY();
   END
  END
  ELSE IF @Mode = 'STATUS'
  BEGIN
   UPDATE AttributeValue
   SET IsActive = @IsActive,
       IsDeleted = @IsDeleted,
       LastModifiedBy = @OperatedBy,
       LastModifiedDate = GETDATE()
   WHERE Id = @Id;
  END

  SET @response = 'S|Record saved successfully|' + CAST(@Id AS NVARCHAR);
  RETURN;

 END TRY
 BEGIN CATCH
  SET @response = 'E|' + ERROR_MESSAGE() + '|0';
  RETURN;
 END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[SP_Category_Get]    Script Date: 28-02-2026 11:54:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[SP_Category_Get]
(
 @Search NVARCHAR(200) = NULL,
 @Start INT = 0,
 @Length INT = 25
)
AS
BEGIN
 SET NOCOUNT ON;

 DECLARE @Total INT, @Filtered INT;

 SELECT @Total = COUNT(*) FROM Category WHERE IsDeleted = 0;

 SELECT @Filtered = COUNT(*)
 FROM Category
 WHERE IsDeleted = 0
   AND (@Search IS NULL OR CAST(Id AS NVARCHAR) LIKE '%' + @Search + '%');
   
 SELECT @Total AS TotalRecords, @Filtered AS FilteredRecords;

 SELECT *
 FROM Category
 WHERE IsDeleted = 0
   AND (@Search IS NULL OR CAST(Id AS NVARCHAR) LIKE '%' + @Search + '%')
 ORDER BY Id DESC
 OFFSET @Start ROWS FETCH NEXT @Length ROWS ONLY;

END

GO
/****** Object:  StoredProcedure [dbo].[SP_Category_Save]    Script Date: 28-02-2026 11:54:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/* ============================================================
   Category
============================================================ */

CREATE   PROCEDURE [dbo].[SP_Category_Save]
(
 @Id INT = 0,
 @IsActive BIT = 1,
 @IsDeleted BIT = 0,
 @Mode NVARCHAR(10),
 @OperatedBy INT,
 @response NVARCHAR(MAX) OUT
)
AS
BEGIN
 SET NOCOUNT ON;

 -- Default Error Response
 SET @response = 'E|Opps!... Something went wrong. Please contact system administrator|0';

 BEGIN TRY

  IF @Mode NOT IN ('SAVE','STATUS')
  BEGIN
   SET @response = 'E|Invalid mode supplied.|0';
   RETURN;
  END

  IF @Mode = 'SAVE'
  BEGIN
   IF @Id > 0
    UPDATE Category
    SET LastModifiedBy = @OperatedBy,
        LastModifiedDate = GETDATE()
    WHERE Id = @Id;
   ELSE
   BEGIN
    INSERT INTO Category (CreatedBy)
    VALUES (@OperatedBy);

    SET @Id = SCOPE_IDENTITY();
   END
  END
  ELSE IF @Mode = 'STATUS'
  BEGIN
   UPDATE Category
   SET IsActive = @IsActive,
       IsDeleted = @IsDeleted,
       LastModifiedBy = @OperatedBy,
       LastModifiedDate = GETDATE()
   WHERE Id = @Id;
  END

  SET @response = 'S|Record saved successfully|' + CAST(@Id AS NVARCHAR);
  RETURN;

 END TRY
 BEGIN CATCH
  SET @response = 'E|' + ERROR_MESSAGE() + '|0';
  RETURN;
 END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[SP_CheckAuthentication]    Script Date: 28-02-2026 11:54:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_CheckAuthentication]
(
    @UserName NVARCHAR(150),
    @Password NVARCHAR(255),
    @response NVARCHAR(MAX) OUT
)
AS
BEGIN
    SET NOCOUNT ON;

    -- Default Error Response
    SET @response = 'E|Opps!... Something went wrong. Please contact system administrator|0';

    BEGIN TRY

        -- Validation
        IF @UserName IS NULL OR @Password IS NULL
        BEGIN
            SET @response = 'E|Username and password are required.|0';
            RETURN;
        END

        DECLARE 
            @UserId INT = 0,
            @RoleId INT = 0,
            @FullName NVARCHAR(200) = '',
            @RoleName NVARCHAR(100) = '',
            @IsActive BIT = 0,
            @IsDeleted BIT = 0;

        SELECT 
            @UserId = u.Id,
            @RoleId = u.RoleId,
            @FullName = ISNULL(u.FirstName,'') + ' ' + ISNULL(u.LastName,''),
            @RoleName = r.RoleName,
            @IsActive = u.IsActive,
            @IsDeleted = u.IsDeleted
        FROM Users u
        INNER JOIN Roles r ON u.RoleId = r.Id
        WHERE UserName = @UserName
          AND Password = @Password;

        -- User Not Found
        IF @UserId IS NULL OR @UserId = 0
        BEGIN
            SET @response = 'E|Invalid email or password.|0';
            RETURN;
        END

        -- Soft Delete Check
        IF @IsDeleted = 1
        BEGIN
            SET @response = 'E|Your account has been removed. Contact administrator.|0';
            RETURN;
        END

        -- Active Check
        IF @IsActive = 0
        BEGIN
            SET @response = 'E|Your account is inactive. Contact administrator.|0';
            RETURN;
        END

        -- S|Message|UserId|FullName|RoleId|RoleName

        SET @response = 
            'S|Login successful|'
            + CAST(@UserId AS NVARCHAR) + '|'
            + ISNULL(@FullName,'') + '|'
            + CAST(@RoleId AS NVARCHAR) + '|'
            + ISNULL(@RoleName,'');

        RETURN;

        RETURN;

    END TRY
    BEGIN CATCH
        SET @response = 'E|' + ERROR_MESSAGE() + '|0';
        RETURN;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ProductImages_Get]    Script Date: 28-02-2026 11:54:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[SP_ProductImages_Get]
(
 @Search NVARCHAR(200) = NULL,
 @Start INT = 0,
 @Length INT = 25
)
AS
BEGIN
 SET NOCOUNT ON;

 DECLARE @Total INT, @Filtered INT;

 SELECT @Total = COUNT(*) FROM ProductImages WHERE IsDeleted = 0;

 SELECT @Filtered = COUNT(*)
 FROM ProductImages
 WHERE IsDeleted = 0
   AND (@Search IS NULL OR CAST(Id AS NVARCHAR) LIKE '%' + @Search + '%');
   
 SELECT @Total AS TotalRecords, @Filtered AS FilteredRecords;

 SELECT *
 FROM ProductImages
 WHERE IsDeleted = 0
   AND (@Search IS NULL OR CAST(Id AS NVARCHAR) LIKE '%' + @Search + '%')
 ORDER BY Id DESC
 OFFSET @Start ROWS FETCH NEXT @Length ROWS ONLY;

END

GO
/****** Object:  StoredProcedure [dbo].[SP_ProductImages_Save]    Script Date: 28-02-2026 11:54:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/* ============================================================
   ProductImages
============================================================ */

CREATE   PROCEDURE [dbo].[SP_ProductImages_Save]
(
 @Id INT = 0,
 @IsActive BIT = 1,
 @IsDeleted BIT = 0,
 @Mode NVARCHAR(10),
 @OperatedBy INT,
 @response NVARCHAR(MAX) OUT
)
AS
BEGIN
 SET NOCOUNT ON;

 -- Default Error Response
 SET @response = 'E|Opps!... Something went wrong. Please contact system administrator|0';

 BEGIN TRY

  IF @Mode NOT IN ('SAVE','STATUS')
  BEGIN
   SET @response = 'E|Invalid mode supplied.|0';
   RETURN;
  END

  IF @Mode = 'SAVE'
  BEGIN
   IF @Id > 0
    UPDATE ProductImages
    SET LastModifiedBy = @OperatedBy,
        LastModifiedDate = GETDATE()
    WHERE Id = @Id;
   ELSE
   BEGIN
    INSERT INTO ProductImages (CreatedBy)
    VALUES (@OperatedBy);

    SET @Id = SCOPE_IDENTITY();
   END
  END
  ELSE IF @Mode = 'STATUS'
  BEGIN
   UPDATE ProductImages
   SET IsActive = @IsActive,
       IsDeleted = @IsDeleted,
       LastModifiedBy = @OperatedBy,
       LastModifiedDate = GETDATE()
   WHERE Id = @Id;
  END

  SET @response = 'S|Record saved successfully|' + CAST(@Id AS NVARCHAR);
  RETURN;

 END TRY
 BEGIN CATCH
  SET @response = 'E|' + ERROR_MESSAGE() + '|0';
  RETURN;
 END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[SP_Products_Get]    Script Date: 28-02-2026 11:54:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[SP_Products_Get]
(
 @Search NVARCHAR(200) = NULL,
 @Start INT = 0,
 @Length INT = 25
)
AS
BEGIN
 SET NOCOUNT ON;

 DECLARE @Total INT, @Filtered INT;

 SELECT @Total = COUNT(*) FROM Products WHERE IsDeleted = 0;

 SELECT @Filtered = COUNT(*)
 FROM Products
 WHERE IsDeleted = 0
   AND (@Search IS NULL OR CAST(Id AS NVARCHAR) LIKE '%' + @Search + '%');
   
 SELECT @Total AS TotalRecords, @Filtered AS FilteredRecords;

 SELECT *
 FROM Products
 WHERE IsDeleted = 0
   AND (@Search IS NULL OR CAST(Id AS NVARCHAR) LIKE '%' + @Search + '%')
 ORDER BY Id DESC
 OFFSET @Start ROWS FETCH NEXT @Length ROWS ONLY;

END

GO
/****** Object:  StoredProcedure [dbo].[SP_Products_Save]    Script Date: 28-02-2026 11:54:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/* ============================================================
   Products
============================================================ */

CREATE   PROCEDURE [dbo].[SP_Products_Save]
(
 @Id INT = 0,
 @IsActive BIT = 1,
 @IsDeleted BIT = 0,
 @Mode NVARCHAR(10),
 @OperatedBy INT,
 @response NVARCHAR(MAX) OUT
)
AS
BEGIN
 SET NOCOUNT ON;

 -- Default Error Response
 SET @response = 'E|Opps!... Something went wrong. Please contact system administrator|0';

 BEGIN TRY

  IF @Mode NOT IN ('SAVE','STATUS')
  BEGIN
   SET @response = 'E|Invalid mode supplied.|0';
   RETURN;
  END

  IF @Mode = 'SAVE'
  BEGIN
   IF @Id > 0
    UPDATE Products
    SET LastModifiedBy = @OperatedBy,
        LastModifiedDate = GETDATE()
    WHERE Id = @Id;
   ELSE
   BEGIN
    INSERT INTO Products (CreatedBy)
    VALUES (@OperatedBy);

    SET @Id = SCOPE_IDENTITY();
   END
  END
  ELSE IF @Mode = 'STATUS'
  BEGIN
   UPDATE Products
   SET IsActive = @IsActive,
       IsDeleted = @IsDeleted,
       LastModifiedBy = @OperatedBy,
       LastModifiedDate = GETDATE()
   WHERE Id = @Id;
  END

  SET @response = 'S|Record saved successfully|' + CAST(@Id AS NVARCHAR);
  RETURN;

 END TRY
 BEGIN CATCH
  SET @response = 'E|' + ERROR_MESSAGE() + '|0';
  RETURN;
 END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[SP_ProductVariantDetails_Get]    Script Date: 28-02-2026 11:54:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[SP_ProductVariantDetails_Get]
(
 @Search NVARCHAR(200) = NULL,
 @Start INT = 0,
 @Length INT = 25
)
AS
BEGIN
 SET NOCOUNT ON;

 DECLARE @Total INT, @Filtered INT;

 SELECT @Total = COUNT(*) FROM ProductVariantDetails WHERE IsDeleted = 0;

 SELECT @Filtered = COUNT(*)
 FROM ProductVariantDetails
 WHERE IsDeleted = 0
   AND (@Search IS NULL OR CAST(Id AS NVARCHAR) LIKE '%' + @Search + '%');
   
 SELECT @Total AS TotalRecords, @Filtered AS FilteredRecords;

 SELECT *
 FROM ProductVariantDetails
 WHERE IsDeleted = 0
   AND (@Search IS NULL OR CAST(Id AS NVARCHAR) LIKE '%' + @Search + '%')
 ORDER BY Id DESC
 OFFSET @Start ROWS FETCH NEXT @Length ROWS ONLY;

END

GO
/****** Object:  StoredProcedure [dbo].[SP_ProductVariantDetails_Save]    Script Date: 28-02-2026 11:54:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/* ============================================================
   ProductVariantDetails
============================================================ */

CREATE   PROCEDURE [dbo].[SP_ProductVariantDetails_Save]
(
 @Id INT = 0,
 @IsActive BIT = 1,
 @IsDeleted BIT = 0,
 @Mode NVARCHAR(10),
 @OperatedBy INT,
 @response NVARCHAR(MAX) OUT
)
AS
BEGIN
 SET NOCOUNT ON;

 -- Default Error Response
 SET @response = 'E|Opps!... Something went wrong. Please contact system administrator|0';

 BEGIN TRY

  IF @Mode NOT IN ('SAVE','STATUS')
  BEGIN
   SET @response = 'E|Invalid mode supplied.|0';
   RETURN;
  END

  IF @Mode = 'SAVE'
  BEGIN
   IF @Id > 0
    UPDATE ProductVariantDetails
    SET LastModifiedBy = @OperatedBy,
        LastModifiedDate = GETDATE()
    WHERE Id = @Id;
   ELSE
   BEGIN
    INSERT INTO ProductVariantDetails (CreatedBy)
    VALUES (@OperatedBy);

    SET @Id = SCOPE_IDENTITY();
   END
  END
  ELSE IF @Mode = 'STATUS'
  BEGIN
   UPDATE ProductVariantDetails
   SET IsActive = @IsActive,
       IsDeleted = @IsDeleted,
       LastModifiedBy = @OperatedBy,
       LastModifiedDate = GETDATE()
   WHERE Id = @Id;
  END

  SET @response = 'S|Record saved successfully|' + CAST(@Id AS NVARCHAR);
  RETURN;

 END TRY
 BEGIN CATCH
  SET @response = 'E|' + ERROR_MESSAGE() + '|0';
  RETURN;
 END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[SP_ProductVariantMapping_Get]    Script Date: 28-02-2026 11:54:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[SP_ProductVariantMapping_Get]
(
 @Search NVARCHAR(200) = NULL,
 @Start INT = 0,
 @Length INT = 25
)
AS
BEGIN
 SET NOCOUNT ON;

 DECLARE @Total INT, @Filtered INT;

 SELECT @Total = COUNT(*) FROM ProductVariantMapping WHERE IsDeleted = 0;

 SELECT @Filtered = COUNT(*)
 FROM ProductVariantMapping
 WHERE IsDeleted = 0
   AND (@Search IS NULL OR CAST(Id AS NVARCHAR) LIKE '%' + @Search + '%');
   
 SELECT @Total AS TotalRecords, @Filtered AS FilteredRecords;

 SELECT *
 FROM ProductVariantMapping
 WHERE IsDeleted = 0
   AND (@Search IS NULL OR CAST(Id AS NVARCHAR) LIKE '%' + @Search + '%')
 ORDER BY Id DESC
 OFFSET @Start ROWS FETCH NEXT @Length ROWS ONLY;

END

GO
/****** Object:  StoredProcedure [dbo].[SP_ProductVariantMapping_Save]    Script Date: 28-02-2026 11:54:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/* ============================================================
   ProductVariantMapping
============================================================ */

CREATE   PROCEDURE [dbo].[SP_ProductVariantMapping_Save]
(
 @Id INT = 0,
 @IsActive BIT = 1,
 @IsDeleted BIT = 0,
 @Mode NVARCHAR(10),
 @OperatedBy INT,
 @response NVARCHAR(MAX) OUT
)
AS
BEGIN
 SET NOCOUNT ON;

 -- Default Error Response
 SET @response = 'E|Opps!... Something went wrong. Please contact system administrator|0';

 BEGIN TRY

  IF @Mode NOT IN ('SAVE','STATUS')
  BEGIN
   SET @response = 'E|Invalid mode supplied.|0';
   RETURN;
  END

  IF @Mode = 'SAVE'
  BEGIN
   IF @Id > 0
    UPDATE ProductVariantMapping
    SET LastModifiedBy = @OperatedBy,
        LastModifiedDate = GETDATE()
    WHERE Id = @Id;
   ELSE
   BEGIN
    INSERT INTO ProductVariantMapping (CreatedBy)
    VALUES (@OperatedBy);

    SET @Id = SCOPE_IDENTITY();
   END
  END
  ELSE IF @Mode = 'STATUS'
  BEGIN
   UPDATE ProductVariantMapping
   SET IsActive = @IsActive,
       IsDeleted = @IsDeleted,
       LastModifiedBy = @OperatedBy,
       LastModifiedDate = GETDATE()
   WHERE Id = @Id;
  END

  SET @response = 'S|Record saved successfully|' + CAST(@Id AS NVARCHAR);
  RETURN;

 END TRY
 BEGIN CATCH
  SET @response = 'E|' + ERROR_MESSAGE() + '|0';
  RETURN;
 END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[SP_RolePermissions_Get]    Script Date: 28-02-2026 11:54:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[SP_RolePermissions_Get]
(
 @Search NVARCHAR(200) = NULL,
 @Start INT = 0,
 @Length INT = 25
)
AS
BEGIN
 SET NOCOUNT ON;

 DECLARE @Total INT, @Filtered INT;

 SELECT @Total = COUNT(*) FROM RolePermissions WHERE IsDeleted = 0;

 SELECT @Filtered = COUNT(*)
 FROM RolePermissions
 WHERE IsDeleted = 0
   AND (@Search IS NULL OR CAST(Id AS NVARCHAR) LIKE '%' + @Search + '%');
   
 SELECT @Total AS TotalRecords, @Filtered AS FilteredRecords;

 SELECT *
 FROM RolePermissions
 WHERE IsDeleted = 0
   AND (@Search IS NULL OR CAST(Id AS NVARCHAR) LIKE '%' + @Search + '%')
 ORDER BY Id DESC
 OFFSET @Start ROWS FETCH NEXT @Length ROWS ONLY;

END

GO
/****** Object:  StoredProcedure [dbo].[SP_RolePermissions_Save]    Script Date: 28-02-2026 11:54:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/* ============================================================
   RolePermissions
============================================================ */

CREATE   PROCEDURE [dbo].[SP_RolePermissions_Save]
(
 @Id INT = 0,
 @IsActive BIT = 1,
 @IsDeleted BIT = 0,
 @Mode NVARCHAR(10),
 @OperatedBy INT,
 @response NVARCHAR(MAX) OUT
)
AS
BEGIN
 SET NOCOUNT ON;

 -- Default Error Response
 SET @response = 'E|Opps!... Something went wrong. Please contact system administrator|0';

 BEGIN TRY

  IF @Mode NOT IN ('SAVE','STATUS')
  BEGIN
   SET @response = 'E|Invalid mode supplied.|0';
   RETURN;
  END

  IF @Mode = 'SAVE'
  BEGIN
   IF @Id > 0
    UPDATE RolePermissions
    SET LastModifiedBy = @OperatedBy,
        LastModifiedDate = GETDATE()
    WHERE Id = @Id;
   ELSE
   BEGIN
    INSERT INTO RolePermissions (CreatedBy)
    VALUES (@OperatedBy);

    SET @Id = SCOPE_IDENTITY();
   END
  END
  ELSE IF @Mode = 'STATUS'
  BEGIN
   UPDATE RolePermissions
   SET IsActive = @IsActive,
       IsDeleted = @IsDeleted,
       LastModifiedBy = @OperatedBy,
       LastModifiedDate = GETDATE()
   WHERE Id = @Id;
  END

  SET @response = 'S|Record saved successfully|' + CAST(@Id AS NVARCHAR);
  RETURN;

 END TRY
 BEGIN CATCH
  SET @response = 'E|' + ERROR_MESSAGE() + '|0';
  RETURN;
 END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[SP_Roles_Get]    Script Date: 28-02-2026 11:54:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[SP_Roles_Get]
(
 @Id INT = NULL,
 @Search NVARCHAR(200) = NULL,
 @Start INT = 0,
 @Length INT = 25,
 @SortColumnIndex INT = 0,
 @SortDirection NVARCHAR(4) = 'DESC'
)
AS
BEGIN
 SET NOCOUNT ON;

	-- ============================================
    -- 🔹 IF ID IS PROVIDED → RETURN SINGLE RECORD
    -- ============================================
    IF @Id IS NOT NULL
    BEGIN
        SELECT 
            X.Id,
            X.RoleName,
            X.Description,
            X.IsActive,
            X.LastModifiedDate
        FROM Roles X
        WHERE X.Id = (CASE WHEN @Id < 0 THEN X.Id ELSE @Id END) AND X.IsDeleted = 0
		AND X.IsActive = (CASE WHEN @Id < 0 THEN 1 ELSE X.IsActive END) AND X.Id > 1;

        RETURN;
    END

 DECLARE @OrderBy NVARCHAR(100)

    -- Map column index to actual DB column
    SET @OrderBy = 
        CASE @SortColumnIndex
            WHEN 0 THEN 'X.Id'
            WHEN 1 THEN 'X.UserName'
            WHEN 2 THEN 'X.FirstName'     -- FullName
            WHEN 3 THEN 'R.RoleName'
            WHEN 4 THEN 'X.IsActive'
            ELSE 'X.Id'
        END

    -- Force direction safe
    IF @SortDirection NOT IN ('ASC','DESC')
        SET @SortDirection = 'DESC'

    -- =============================
    -- Counts
    -- =============================
	 DECLARE @Total INT, @Filtered INT;

	 SELECT @Total = COUNT(*) FROM Users WHERE IsDeleted = 0;

	 SELECT @Filtered = COUNT(*)
	 FROM Roles X WHERE X.IsDeleted = 0 AND (@Search IS NULL OR X.RoleName LIKE '%' + @Search + '%' OR X.Description LIKE '%' + @Search + '%');
   
	 SELECT @Total AS TotalRecords, @Filtered AS FilteredRecords;

	
	-- =============================
    -- Data
    -- =============================
    DECLARE @SQL NVARCHAR(MAX)

    SET @SQL = '
    SELECT 
        ROW_NUMBER() OVER (ORDER BY ' + @OrderBy + ' ' + @SortDirection + ') + @Start AS SrNo,
        X.Id,
        X.RoleName,
        X.Description,
        X.IsActive,
        X.LastModifiedDate
    FROM Roles X
    WHERE X.IsDeleted = 0
    '

    IF @Search IS NOT NULL
        SET @SQL += '
        AND (
            X.RoleName LIKE ''%'' + @Search + ''%'' OR
            X.Description LIKE ''%'' + @Search + ''%''
        )'

    SET @SQL += '
    ORDER BY ' + @OrderBy + ' ' + @SortDirection + '
    OFFSET @Start ROWS FETCH NEXT @Length ROWS ONLY'

    EXEC sp_executesql
        @SQL,
        N'@Search NVARCHAR(200), @Start INT, @Length INT',
        @Search, @Start, @Length;

END
GO
/****** Object:  StoredProcedure [dbo].[SP_Roles_Save]    Script Date: 28-02-2026 11:54:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/* ============================================================
   Roles
============================================================ */

CREATE   PROCEDURE [dbo].[SP_Roles_Save]
(
 @Id INT = 0,
 @IsActive BIT = 1,
 @IsDeleted BIT = 0,
 @Mode NVARCHAR(10),
 @OperatedBy INT,
 @response NVARCHAR(MAX) OUT
)
AS
BEGIN
 SET NOCOUNT ON;

 -- Default Error Response
 SET @response = 'E|Opps!... Something went wrong. Please contact system administrator|0';

 BEGIN TRY

  IF @Mode NOT IN ('SAVE','STATUS')
  BEGIN
   SET @response = 'E|Invalid mode supplied.|0';
   RETURN;
  END

  IF @Mode = 'SAVE'
  BEGIN
   IF @Id > 0
    UPDATE Roles
    SET LastModifiedBy = @OperatedBy,
        LastModifiedDate = GETDATE()
    WHERE Id = @Id;
   ELSE
   BEGIN
    INSERT INTO Roles (CreatedBy)
    VALUES (@OperatedBy);

    SET @Id = SCOPE_IDENTITY();
   END
  END
  ELSE IF @Mode = 'STATUS'
  BEGIN
   UPDATE Roles
   SET IsActive = @IsActive,
       IsDeleted = @IsDeleted,
       LastModifiedBy = @OperatedBy,
       LastModifiedDate = GETDATE()
   WHERE Id = @Id;
  END

  SET @response = 'S|Record saved successfully|' + CAST(@Id AS NVARCHAR);
  RETURN;

 END TRY
 BEGIN CATCH
  SET @response = 'E|' + ERROR_MESSAGE() + '|0';
  RETURN;
 END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[SP_UserMenuAccess]    Script Date: 28-02-2026 11:54:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_UserMenuAccess]
(
    @UserId BIGINT
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @RoleId BIGINT;
    DECLARE @RoleName NVARCHAR(100);
    DECLARE @IsSuperAdmin BIT = 0;
    DECLARE @IsAdmin BIT = 0;

    -- Get Role Info
    SELECT 
        @RoleId = r.Id,
        @RoleName = r.RoleName
    FROM Users u
    INNER JOIN Roles r ON u.RoleId = r.Id
    WHERE u.Id = @UserId
      AND u.IsDeleted = 0
      AND r.IsDeleted = 0;

    -- SuperAdmin Check
    IF @RoleName = 'SuperAdmin'
        SET @IsSuperAdmin = 1;

    -- Admin Check
    IF @RoleName = 'Admin'
        SET @IsAdmin = 1;

    /* ============================================================
       1️⃣ FIRST RESULT SET
    ============================================================ */
    SELECT 
        @IsSuperAdmin AS IsSuperAdmin,
        @IsAdmin AS IsAdmin;


    /* ============================================================
       2️⃣ SECOND RESULT SET (UserMenuAccess)
    ============================================================ */

    IF @IsSuperAdmin = 1
    BEGIN
        -- SuperAdmin gets full access to all active menus
        SELECT
            @RoleId                    AS RoleId,
            @UserId                    AS UserId,
            a.Id                       AS MenuId,
            CAST(1 AS BIT)             AS IsCreate,
            CAST(1 AS BIT)             AS IsUpdate,
            CAST(1 AS BIT)             AS IsRead,
            CAST(1 AS BIT)             AS IsDelete,

            r.RoleName                 AS RoleName,
            (u.FirstName + ' ' + u.LastName) AS UserName,
            a.Name                     AS MenuName,
            a.Area                     AS Area,
            a.Controller               AS Controller,
            a.Url                      AS Url,
            ISNULL(a.ParentId,0)   AS ParentMenuId,
            pm.Name                    AS ParentMenuName,
            a.DisplayOrder             AS DisplayOrder

        FROM Menus a
        INNER JOIN Roles r ON r.Id = @RoleId
        INNER JOIN Users u ON u.Id = @UserId
        LEFT JOIN Menus pm ON pm.Id = a.ParentId
        WHERE a.IsDeleted = 0
          AND a.IsActive = 1
        ORDER BY a.DisplayOrder;
    END
    ELSE
    BEGIN
        -- Role-based permissions
        SELECT
            rp.RoleId                  AS RoleId,
            @UserId                    AS UserId,
            a.Id                       AS MenuId,
            r.RoleName                 AS RoleName,
            (u.FirstName + ' ' + u.LastName) AS UserName,
            a.Name                     AS MenuName,
            a.Area                     AS Area,
            a.Controller               AS Controller,
            a.Url                      AS Url,
            ISNULL(a.ParentId,0)   AS ParentMenuId,
            pm.Name                    AS ParentMenuName,
            a.DisplayOrder             AS DisplayOrder

        FROM RolePermissions rp
        INNER JOIN Menus a ON rp.ActionId = a.Id
        INNER JOIN Roles r ON rp.RoleId = r.Id
        INNER JOIN Users u ON u.RoleId = r.Id
        LEFT JOIN Menus pm ON pm.Id = a.ParentId
        WHERE u.Id = @UserId
          AND rp.IsDeleted = 0
          AND rp.IsActive = 1
          AND a.IsDeleted = 0
          AND a.IsActive = 1
        ORDER BY a.DisplayOrder;
    END

END
GO
/****** Object:  StoredProcedure [dbo].[SP_Users_Get]    Script Date: 28-02-2026 11:54:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[SP_Users_Get]
(
 @Id INT = NULL,
 @Search NVARCHAR(200) = NULL,
 @Start INT = 0,
 @Length INT = 25,
 @SortColumnIndex INT = 0,
 @SortDirection NVARCHAR(4) = 'DESC'
)
AS
BEGIN
 SET NOCOUNT ON;

	-- ============================================
    -- 🔹 IF ID IS PROVIDED → RETURN SINGLE RECORD
    -- ============================================
    IF @Id IS NOT NULL
    BEGIN
        SELECT 
            X.Id,
            X.RoleId,
            R.RoleName,
            X.FirstName,
            X.LastName,
            X.UserName,
            X.IsActive,
            X.LastModifiedDate
        FROM Users X
        LEFT JOIN Roles R ON R.Id = X.RoleId
        WHERE X.Id = (CASE WHEN @Id < 0 THEN X.Id ELSE @Id END) AND X.IsDeleted = 0
		AND X.IsActive = (CASE WHEN @Id < 0 THEN 1 ELSE X.IsActive END) ;

        RETURN;
    END

 DECLARE @OrderBy NVARCHAR(100)

    -- Map column index to actual DB column
    SET @OrderBy = 
        CASE @SortColumnIndex
            WHEN 0 THEN 'X.Id'
            WHEN 1 THEN 'X.UserName'
            WHEN 2 THEN 'X.FirstName'     -- FullName
            WHEN 3 THEN 'R.RoleName'
            WHEN 4 THEN 'X.IsActive'
            ELSE 'X.Id'
        END

    -- Force direction safe
    IF @SortDirection NOT IN ('ASC','DESC')
        SET @SortDirection = 'DESC'

    -- =============================
    -- Counts
    -- =============================
	 DECLARE @Total INT, @Filtered INT;

	 SELECT @Total = COUNT(*) FROM Users WHERE IsDeleted = 0;

	 SELECT @Filtered = COUNT(*)
	 FROM Users X WHERE X.IsDeleted = 0 AND (@Search IS NULL OR X.UserName LIKE '%' + @Search + '%' OR X.FirstName LIKE '%' + @Search + '%' OR X.LastName LIKE '%' + @Search + '%');
   
	 SELECT @Total AS TotalRecords, @Filtered AS FilteredRecords;

	
	-- =============================
    -- Data
    -- =============================
    DECLARE @SQL NVARCHAR(MAX)

    SET @SQL = '
    SELECT 
        ROW_NUMBER() OVER (ORDER BY ' + @OrderBy + ' ' + @SortDirection + ') + @Start AS SrNo,
        X.Id,
        X.RoleId,
        R.RoleName,
        X.FirstName,
        X.LastName,
        X.UserName,
        X.IsActive,
        X.LastModifiedDate
    FROM Users X
    LEFT JOIN Roles R ON R.Id = X.RoleId
    WHERE X.IsDeleted = 0
    '

    IF @Search IS NOT NULL
        SET @SQL += '
        AND (
            X.UserName LIKE ''%'' + @Search + ''%'' OR
            X.FirstName LIKE ''%'' + @Search + ''%'' OR
            X.LastName LIKE ''%'' + @Search + ''%''
        )'

    SET @SQL += '
    ORDER BY ' + @OrderBy + ' ' + @SortDirection + '
    OFFSET @Start ROWS FETCH NEXT @Length ROWS ONLY'

    EXEC sp_executesql
        @SQL,
        N'@Search NVARCHAR(200), @Start INT, @Length INT',
        @Search, @Start, @Length;

END
GO
/****** Object:  StoredProcedure [dbo].[SP_Users_Save]    Script Date: 28-02-2026 11:54:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/* ============================================================
   Users
============================================================ */

CREATE   PROCEDURE [dbo].[SP_Users_Save]
(
 @Id INT = 0,
 @RoleId INT = 0,
 @UserName NVARCHAR(250) = NULL,
 @Password NVARCHAR(500) = NULL,
 @FirstName NVARCHAR(250) = NULL,
 @LastName NVARCHAR(250) = NULL,
 @IsActive BIT = 1,
 @IsDeleted BIT = 0,
 @Mode NVARCHAR(10),
 @OperatedBy INT,
 @response NVARCHAR(MAX) OUT
)
AS
BEGIN
 SET NOCOUNT ON;

 -- Default Error Response
 SET @response = 'E|Opps!... Something went wrong. Please contact system administrator|0';

 BEGIN TRY

  IF @Mode NOT IN ('SAVE','STATUS')
  BEGIN
   SET @response = 'E|Invalid mode supplied.|0';
   RETURN;
  END

  IF @Mode = 'SAVE'
  BEGIN
  
   -- ============================
   -- Required Field Validation
   -- ============================
   IF ISNULL(@FirstName,'') = ''
   BEGIN
    SET @response = 'E|First Name is required.|0';
    RETURN;
   END

   IF ISNULL(@LastName,'') = ''
   BEGIN
    SET @response = 'E|Last Name is required.|0';
    RETURN;
   END

   IF ISNULL(@UserName,'') = ''
   BEGIN
    SET @response = 'E|User Name is required.|0';
    RETURN;
   END

   IF ISNULL(@RoleId,0) = 0
   BEGIN
    SET @response = 'E|Role is required.|0';
    RETURN;
   END

   -- ============================
   -- Password Rule
   -- ============================
   IF @Id = 0 AND ISNULL(@Password,'') = ''
   BEGIN
    SET @response = 'E|Password is required for new user.|0';
    RETURN;
   END

   -- ============================
   -- Duplicate Validation
   -- ============================
   IF EXISTS (
        SELECT 1
        FROM Users
        WHERE UserName = @UserName
          AND IsDeleted = 0
          AND (@Id = 0 OR Id <> @Id)
      )
   BEGIN
    SET @response = 'E|User Name already exists.|0';
    RETURN;
   END

   IF @Id > 0
    UPDATE Users
    SET RoleId = @RoleId,
		 UserName = @UserName,
		 Password = (CASE WHEN ISNULL(@Password, '') != '' THEN @Password ELSE Password END),
		 FirstName = @FirstName,
		 LastName = @LastName,
		 IsActive = @IsActive,
		 LastModifiedBy = @OperatedBy,
        LastModifiedDate = GETDATE()
    WHERE Id = @Id;
   ELSE
   BEGIN
    INSERT INTO Users (CreatedBy)
    VALUES (@OperatedBy);

    SET @Id = SCOPE_IDENTITY();
   END
  END
  ELSE IF @Mode = 'STATUS'
  BEGIN
   UPDATE Users
   SET IsActive = @IsActive,
       IsDeleted = @IsDeleted,
       LastModifiedBy = @OperatedBy,
       LastModifiedDate = GETDATE()
   WHERE Id = @Id;
  END
  ELSE IF @Mode = 'DELETE'
  BEGIN
   UPDATE Users
   SET IsActive = 0,
       IsDeleted = 1,
       LastModifiedBy = @OperatedBy,
       LastModifiedDate = GETDATE()
   WHERE Id = @Id;
  END

  SET @response = 'S|Record saved successfully|' + CAST(@Id AS NVARCHAR);
  RETURN;

 END TRY
 BEGIN CATCH
  SET @response = 'E|' + ERROR_MESSAGE() + '|0';
  RETURN;
 END CATCH
END
GO
