USE [JewelryStoreDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_Users_Save]    Script Date: 10-03-2026 12:30:07 PM ******/
DROP PROCEDURE [dbo].[SP_Users_Save]
GO
/****** Object:  StoredProcedure [dbo].[SP_Users_Get]    Script Date: 10-03-2026 12:30:07 PM ******/
DROP PROCEDURE [dbo].[SP_Users_Get]
GO
/****** Object:  StoredProcedure [dbo].[SP_UserMenuAccess]    Script Date: 10-03-2026 12:30:07 PM ******/
DROP PROCEDURE [dbo].[SP_UserMenuAccess]
GO
/****** Object:  StoredProcedure [dbo].[SP_Roles_Save]    Script Date: 10-03-2026 12:30:07 PM ******/
DROP PROCEDURE [dbo].[SP_Roles_Save]
GO
/****** Object:  StoredProcedure [dbo].[SP_Roles_Get]    Script Date: 10-03-2026 12:30:07 PM ******/
DROP PROCEDURE [dbo].[SP_Roles_Get]
GO
/****** Object:  StoredProcedure [dbo].[SP_RolePermissions_Save]    Script Date: 10-03-2026 12:30:07 PM ******/
DROP PROCEDURE [dbo].[SP_RolePermissions_Save]
GO
/****** Object:  StoredProcedure [dbo].[SP_RolePermissions_Get]    Script Date: 10-03-2026 12:30:07 PM ******/
DROP PROCEDURE [dbo].[SP_RolePermissions_Get]
GO
/****** Object:  StoredProcedure [dbo].[SP_ProductVariantMapping_Save]    Script Date: 10-03-2026 12:30:07 PM ******/
DROP PROCEDURE [dbo].[SP_ProductVariantMapping_Save]
GO
/****** Object:  StoredProcedure [dbo].[SP_ProductVariantMapping_Get]    Script Date: 10-03-2026 12:30:07 PM ******/
DROP PROCEDURE [dbo].[SP_ProductVariantMapping_Get]
GO
/****** Object:  StoredProcedure [dbo].[SP_ProductVariantDetails_Save]    Script Date: 10-03-2026 12:30:07 PM ******/
DROP PROCEDURE [dbo].[SP_ProductVariantDetails_Save]
GO
/****** Object:  StoredProcedure [dbo].[SP_ProductVariantDetails_Get]    Script Date: 10-03-2026 12:30:07 PM ******/
DROP PROCEDURE [dbo].[SP_ProductVariantDetails_Get]
GO
/****** Object:  StoredProcedure [dbo].[SP_Product_Save]    Script Date: 10-03-2026 12:30:07 PM ******/
DROP PROCEDURE [dbo].[SP_Product_Save]
GO
/****** Object:  StoredProcedure [dbo].[SP_Product_Get]    Script Date: 10-03-2026 12:30:07 PM ******/
DROP PROCEDURE [dbo].[SP_Product_Get]
GO
/****** Object:  StoredProcedure [dbo].[SP_Menus_Save]    Script Date: 10-03-2026 12:30:07 PM ******/
DROP PROCEDURE [dbo].[SP_Menus_Save]
GO
/****** Object:  StoredProcedure [dbo].[SP_Menus_Get]    Script Date: 10-03-2026 12:30:07 PM ******/
DROP PROCEDURE [dbo].[SP_Menus_Get]
GO
/****** Object:  StoredProcedure [dbo].[SP_CheckAuthentication]    Script Date: 10-03-2026 12:30:07 PM ******/
DROP PROCEDURE [dbo].[SP_CheckAuthentication]
GO
/****** Object:  StoredProcedure [dbo].[SP_Category_Save]    Script Date: 10-03-2026 12:30:07 PM ******/
DROP PROCEDURE [dbo].[SP_Category_Save]
GO
/****** Object:  StoredProcedure [dbo].[SP_Category_Get]    Script Date: 10-03-2026 12:30:07 PM ******/
DROP PROCEDURE [dbo].[SP_Category_Get]
GO
/****** Object:  StoredProcedure [dbo].[SP_AttributeValue_Save]    Script Date: 10-03-2026 12:30:07 PM ******/
DROP PROCEDURE [dbo].[SP_AttributeValue_Save]
GO
/****** Object:  StoredProcedure [dbo].[SP_AttributeValue_Get]    Script Date: 10-03-2026 12:30:07 PM ******/
DROP PROCEDURE [dbo].[SP_AttributeValue_Get]
GO
/****** Object:  StoredProcedure [dbo].[SP_Attribute_Save]    Script Date: 10-03-2026 12:30:07 PM ******/
DROP PROCEDURE [dbo].[SP_Attribute_Save]
GO
/****** Object:  StoredProcedure [dbo].[SP_Attribute_Get]    Script Date: 10-03-2026 12:30:07 PM ******/
DROP PROCEDURE [dbo].[SP_Attribute_Get]
GO
/****** Object:  StoredProcedure [dbo].[SP_Actions_Save]    Script Date: 10-03-2026 12:30:07 PM ******/
DROP PROCEDURE [dbo].[SP_Actions_Save]
GO
/****** Object:  StoredProcedure [dbo].[SP_Actions_Get]    Script Date: 10-03-2026 12:30:07 PM ******/
DROP PROCEDURE [dbo].[SP_Actions_Get]
GO
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [DF__Users__CreatedDa__2077C861]
GO
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [DF__Users__IsDeleted__1F83A428]
GO
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [DF__Users__IsActive__1E8F7FEF]
GO
ALTER TABLE [dbo].[Roles] DROP CONSTRAINT [DF__Roles__CreatedDa__1D9B5BB6]
GO
ALTER TABLE [dbo].[Roles] DROP CONSTRAINT [DF__Roles__IsDeleted__1CA7377D]
GO
ALTER TABLE [dbo].[Roles] DROP CONSTRAINT [DF__Roles__IsActive__1BB31344]
GO
ALTER TABLE [dbo].[RolePermissions] DROP CONSTRAINT [DF__RolePermi__Creat__1ABEEF0B]
GO
ALTER TABLE [dbo].[RolePermissions] DROP CONSTRAINT [DF__RolePermi__IsDel__19CACAD2]
GO
ALTER TABLE [dbo].[RolePermissions] DROP CONSTRAINT [DF__RolePermi__IsAct__18D6A699]
GO
ALTER TABLE [dbo].[Reviews] DROP CONSTRAINT [DF__Reviews__Created__17E28260]
GO
ALTER TABLE [dbo].[Reviews] DROP CONSTRAINT [DF__Reviews__IsDelet__16EE5E27]
GO
ALTER TABLE [dbo].[Reviews] DROP CONSTRAINT [DF__Reviews__IsActiv__15FA39EE]
GO
ALTER TABLE [dbo].[ProductVariantMapping] DROP CONSTRAINT [DF__ProductVa__Creat__150615B5]
GO
ALTER TABLE [dbo].[ProductVariantMapping] DROP CONSTRAINT [DF__ProductVa__IsDel__1411F17C]
GO
ALTER TABLE [dbo].[ProductVariantMapping] DROP CONSTRAINT [DF__ProductVa__IsAct__131DCD43]
GO
ALTER TABLE [dbo].[ProductVariantDetails] DROP CONSTRAINT [DF__ProductVa__Creat__1229A90A]
GO
ALTER TABLE [dbo].[ProductVariantDetails] DROP CONSTRAINT [DF__ProductVa__IsDel__113584D1]
GO
ALTER TABLE [dbo].[ProductVariantDetails] DROP CONSTRAINT [DF__ProductVa__IsAct__10416098]
GO
ALTER TABLE [dbo].[Products] DROP CONSTRAINT [DF__Products__Create__0F4D3C5F]
GO
ALTER TABLE [dbo].[Products] DROP CONSTRAINT [DF__Products__IsDele__0E591826]
GO
ALTER TABLE [dbo].[Products] DROP CONSTRAINT [DF__Products__IsActi__0D64F3ED]
GO
ALTER TABLE [dbo].[ProductImages] DROP CONSTRAINT [DF__ProductIm__Creat__0C70CFB4]
GO
ALTER TABLE [dbo].[ProductImages] DROP CONSTRAINT [DF__ProductIm__IsDel__0B7CAB7B]
GO
ALTER TABLE [dbo].[ProductImages] DROP CONSTRAINT [DF__ProductIm__IsAct__0A888742]
GO
ALTER TABLE [dbo].[Orders] DROP CONSTRAINT [DF__Orders__CreatedD__09946309]
GO
ALTER TABLE [dbo].[Orders] DROP CONSTRAINT [DF__Orders__IsDelete__08A03ED0]
GO
ALTER TABLE [dbo].[Orders] DROP CONSTRAINT [DF__Orders__IsActive__07AC1A97]
GO
ALTER TABLE [dbo].[OrderItems] DROP CONSTRAINT [DF__OrderItem__Creat__06B7F65E]
GO
ALTER TABLE [dbo].[OrderItems] DROP CONSTRAINT [DF__OrderItem__IsDel__05C3D225]
GO
ALTER TABLE [dbo].[OrderItems] DROP CONSTRAINT [DF__OrderItem__IsAct__04CFADEC]
GO
ALTER TABLE [dbo].[Inquiries] DROP CONSTRAINT [DF__Inquiries__Creat__03DB89B3]
GO
ALTER TABLE [dbo].[Inquiries] DROP CONSTRAINT [DF__Inquiries__IsDel__02E7657A]
GO
ALTER TABLE [dbo].[Inquiries] DROP CONSTRAINT [DF__Inquiries__IsAct__01F34141]
GO
ALTER TABLE [dbo].[Coupons] DROP CONSTRAINT [DF__Coupons__Created__00FF1D08]
GO
ALTER TABLE [dbo].[Coupons] DROP CONSTRAINT [DF__Coupons__IsDelet__000AF8CF]
GO
ALTER TABLE [dbo].[Coupons] DROP CONSTRAINT [DF__Coupons__IsActiv__7F16D496]
GO
ALTER TABLE [dbo].[Category] DROP CONSTRAINT [DF__Category__Create__7E22B05D]
GO
ALTER TABLE [dbo].[Category] DROP CONSTRAINT [DF__Category__IsDele__7D2E8C24]
GO
ALTER TABLE [dbo].[Category] DROP CONSTRAINT [DF__Category__IsActi__7C3A67EB]
GO
ALTER TABLE [dbo].[Cart] DROP CONSTRAINT [DF__Cart__CreatedDat__7B4643B2]
GO
ALTER TABLE [dbo].[Cart] DROP CONSTRAINT [DF__Cart__IsDeleted__7A521F79]
GO
ALTER TABLE [dbo].[Cart] DROP CONSTRAINT [DF__Cart__IsActive__795DFB40]
GO
ALTER TABLE [dbo].[AttributeValue] DROP CONSTRAINT [DF__Attribute__Creat__7869D707]
GO
ALTER TABLE [dbo].[AttributeValue] DROP CONSTRAINT [DF__Attribute__IsDel__7775B2CE]
GO
ALTER TABLE [dbo].[AttributeValue] DROP CONSTRAINT [DF__Attribute__IsAct__76818E95]
GO
ALTER TABLE [dbo].[Attribute] DROP CONSTRAINT [DF__Attribute__Creat__758D6A5C]
GO
ALTER TABLE [dbo].[Attribute] DROP CONSTRAINT [DF__Attribute__IsDel__74994623]
GO
ALTER TABLE [dbo].[Attribute] DROP CONSTRAINT [DF__Attribute__IsAct__73A521EA]
GO
/****** Object:  Index [UQ__Users__A9D10534E640F34D]    Script Date: 10-03-2026 12:30:07 PM ******/
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [UQ__Users__A9D10534E640F34D]
GO
/****** Object:  Index [UQ__Roles__8A2B616094EF9BEA]    Script Date: 10-03-2026 12:30:07 PM ******/
ALTER TABLE [dbo].[Roles] DROP CONSTRAINT [UQ__Roles__8A2B616094EF9BEA]
GO
/****** Object:  Index [UQ_CouponCode]    Script Date: 10-03-2026 12:30:07 PM ******/
ALTER TABLE [dbo].[Coupons] DROP CONSTRAINT [UQ_CouponCode]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 10-03-2026 12:30:07 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Users]') AND type in (N'U'))
DROP TABLE [dbo].[Users]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 10-03-2026 12:30:07 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Roles]') AND type in (N'U'))
DROP TABLE [dbo].[Roles]
GO
/****** Object:  Table [dbo].[RolePermissions]    Script Date: 10-03-2026 12:30:07 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RolePermissions]') AND type in (N'U'))
DROP TABLE [dbo].[RolePermissions]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 10-03-2026 12:30:07 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Reviews]') AND type in (N'U'))
DROP TABLE [dbo].[Reviews]
GO
/****** Object:  Table [dbo].[ProductVariantMapping]    Script Date: 10-03-2026 12:30:07 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProductVariantMapping]') AND type in (N'U'))
DROP TABLE [dbo].[ProductVariantMapping]
GO
/****** Object:  Table [dbo].[ProductVariantDetails]    Script Date: 10-03-2026 12:30:07 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProductVariantDetails]') AND type in (N'U'))
DROP TABLE [dbo].[ProductVariantDetails]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 10-03-2026 12:30:07 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Products]') AND type in (N'U'))
DROP TABLE [dbo].[Products]
GO
/****** Object:  Table [dbo].[ProductImages]    Script Date: 10-03-2026 12:30:07 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProductImages]') AND type in (N'U'))
DROP TABLE [dbo].[ProductImages]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 10-03-2026 12:30:07 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Orders]') AND type in (N'U'))
DROP TABLE [dbo].[Orders]
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 10-03-2026 12:30:07 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[OrderItems]') AND type in (N'U'))
DROP TABLE [dbo].[OrderItems]
GO
/****** Object:  Table [dbo].[Menus]    Script Date: 10-03-2026 12:30:07 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Menus]') AND type in (N'U'))
DROP TABLE [dbo].[Menus]
GO
/****** Object:  Table [dbo].[Inquiries]    Script Date: 10-03-2026 12:30:07 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Inquiries]') AND type in (N'U'))
DROP TABLE [dbo].[Inquiries]
GO
/****** Object:  Table [dbo].[Coupons]    Script Date: 10-03-2026 12:30:07 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Coupons]') AND type in (N'U'))
DROP TABLE [dbo].[Coupons]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 10-03-2026 12:30:07 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Category]') AND type in (N'U'))
DROP TABLE [dbo].[Category]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 10-03-2026 12:30:07 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Cart]') AND type in (N'U'))
DROP TABLE [dbo].[Cart]
GO
/****** Object:  Table [dbo].[AttributeValue]    Script Date: 10-03-2026 12:30:07 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AttributeValue]') AND type in (N'U'))
DROP TABLE [dbo].[AttributeValue]
GO
/****** Object:  Table [dbo].[Attribute]    Script Date: 10-03-2026 12:30:07 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Attribute]') AND type in (N'U'))
DROP TABLE [dbo].[Attribute]
GO
/****** Object:  Table [dbo].[Attribute]    Script Date: 10-03-2026 12:30:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attribute](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AttributeName] [nvarchar](100) NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[LastModifiedBy] [int] NULL,
	[LastModifiedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AttributeValue]    Script Date: 10-03-2026 12:30:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AttributeValue](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AttributeId] [int] NULL,
	[Value] [nvarchar](150) NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[LastModifiedBy] [int] NULL,
	[LastModifiedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 10-03-2026 12:30:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[VariantId] [int] NULL,
	[Quantity] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[LastModifiedBy] [int] NULL,
	[LastModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_Cart] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 10-03-2026 12:30:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](150) NOT NULL,
	[ParentCategoryId] [int] NOT NULL,
	[ImagePath] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[LastModifiedBy] [int] NOT NULL,
	[LastModifiedDate] [datetime] NOT NULL,
 CONSTRAINT [PK__Category__3214EC07F470A8FF] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Coupons]    Script Date: 10-03-2026 12:30:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Coupons](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CouponCode] [nvarchar](50) NULL,
	[DiscountType] [nvarchar](20) NULL,
	[DiscountValue] [decimal](18, 2) NULL,
	[MinimumOrderAmount] [decimal](18, 2) NULL,
	[ExpiryDate] [datetime] NULL,
	[UsageLimit] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[LastModifiedBy] [int] NULL,
	[LastModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_Coupons] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inquiries]    Script Date: 10-03-2026 12:30:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inquiries](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[ProductId] [int] NULL,
	[Subject] [nvarchar](200) NULL,
	[Message] [nvarchar](max) NULL,
	[Status] [nvarchar](50) NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[LastModifiedBy] [int] NULL,
	[LastModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_Inquiries] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menus]    Script Date: 10-03-2026 12:30:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ParentId] [int] NOT NULL,
	[Area] [nvarchar](100) NULL,
	[Controller] [nvarchar](100) NULL,
	[Url] [nvarchar](250) NULL,
	[Name] [nvarchar](150) NULL,
	[Icon] [nvarchar](150) NULL,
	[DisplayOrder] [int] NULL,
	[SuperAdmin] [nvarchar](50) NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[LastModifiedBy] [int] NULL,
	[LastModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_Menus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 10-03-2026 12:30:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NULL,
	[VariantId] [int] NULL,
	[Quantity] [int] NULL,
	[UnitPrice] [decimal](18, 2) NULL,
	[TotalPrice] [decimal](18, 2) NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[LastModifiedBy] [int] NULL,
	[LastModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_OrderItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 10-03-2026 12:30:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[OrderNumber] [nvarchar](50) NULL,
	[TotalAmount] [decimal](18, 2) NULL,
	[DiscountAmount] [decimal](18, 2) NULL,
	[FinalAmount] [decimal](18, 2) NULL,
	[OrderStatus] [nvarchar](50) NULL,
	[PaymentStatus] [nvarchar](50) NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[LastModifiedBy] [int] NULL,
	[LastModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductImages]    Script Date: 10-03-2026 12:30:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductImages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[VariantId] [int] NOT NULL,
	[ImagePath] [nvarchar](500) NOT NULL,
	[IsPrimary] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[LastModifiedBy] [int] NULL,
	[LastModifiedDate] [datetime] NULL,
 CONSTRAINT [PK__ProductI__3214EC0750FC14FC] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 10-03-2026 12:30:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryId] [int] NULL,
	[ProductName] [nvarchar](200) NULL,
	[ProductDescription] [nvarchar](max) NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[LastModifiedBy] [int] NULL,
	[LastModifiedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductVariantDetails]    Script Date: 10-03-2026 12:30:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductVariantDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[VariantId] [int] NULL,
	[AttributeId] [int] NULL,
	[AttributeValueId] [int] NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[LastModifiedBy] [int] NULL,
	[LastModifiedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductVariantMapping]    Script Date: 10-03-2026 12:30:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductVariantMapping](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NULL,
	[SKU] [nvarchar](100) NULL,
	[Price] [decimal](18, 2) NULL,
	[StockQuantity] [int] NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[LastModifiedBy] [int] NULL,
	[LastModifiedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 10-03-2026 12:30:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NULL,
	[UserId] [int] NULL,
	[Rating] [int] NULL,
	[ReviewText] [nvarchar](max) NULL,
	[IsApproved] [bit] NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[LastModifiedBy] [int] NULL,
	[LastModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_Reviews] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolePermissions]    Script Date: 10-03-2026 12:30:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolePermissions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NULL,
	[ActionId] [int] NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[LastModifiedBy] [int] NULL,
	[LastModifiedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 10-03-2026 12:30:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](250) NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[LastModifiedBy] [int] NULL,
	[LastModifiedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 10-03-2026 12:30:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](100) NULL,
	[LastName] [nvarchar](100) NULL,
	[UserName] [nvarchar](150) NULL,
	[Password] [nvarchar](255) NULL,
	[RoleId] [int] NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[LastModifiedBy] [int] NULL,
	[LastModifiedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([Id], [CategoryName], [ParentCategoryId], [ImagePath], [IsActive], [IsDeleted], [CreatedBy], [CreatedDate], [LastModifiedBy], [LastModifiedDate]) VALUES (1, N'Category 1', 0, NULL, 1, 0, 1, CAST(N'2026-02-27T13:19:35.917' AS DateTime), 1, CAST(N'2026-02-27T13:19:35.917' AS DateTime))
INSERT [dbo].[Category] ([Id], [CategoryName], [ParentCategoryId], [ImagePath], [IsActive], [IsDeleted], [CreatedBy], [CreatedDate], [LastModifiedBy], [LastModifiedDate]) VALUES (2, N'Category 2', 0, NULL, 1, 0, 1, CAST(N'2026-02-27T13:19:35.917' AS DateTime), 1, CAST(N'2026-02-27T13:19:35.917' AS DateTime))
INSERT [dbo].[Category] ([Id], [CategoryName], [ParentCategoryId], [ImagePath], [IsActive], [IsDeleted], [CreatedBy], [CreatedDate], [LastModifiedBy], [LastModifiedDate]) VALUES (3, N'Category 3', 0, NULL, 1, 0, 1, CAST(N'2026-02-27T13:19:35.917' AS DateTime), 1, CAST(N'2026-02-27T13:19:35.917' AS DateTime))
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Menus] ON 

INSERT [dbo].[Menus] ([Id], [ParentId], [Area], [Controller], [Url], [Name], [Icon], [DisplayOrder], [SuperAdmin], [IsActive], [IsDeleted], [CreatedBy], [CreatedDate], [LastModifiedBy], [LastModifiedDate]) VALUES (1, 0, NULL, NULL, NULL, N'Configuration', NULL, 1, N'1', 1, 0, 1, NULL, 1, NULL)
INSERT [dbo].[Menus] ([Id], [ParentId], [Area], [Controller], [Url], [Name], [Icon], [DisplayOrder], [SuperAdmin], [IsActive], [IsDeleted], [CreatedBy], [CreatedDate], [LastModifiedBy], [LastModifiedDate]) VALUES (2, 1, N'Admin', N'User', NULL, N'User', NULL, 2, N'1', 1, 0, 1, NULL, 1, NULL)
INSERT [dbo].[Menus] ([Id], [ParentId], [Area], [Controller], [Url], [Name], [Icon], [DisplayOrder], [SuperAdmin], [IsActive], [IsDeleted], [CreatedBy], [CreatedDate], [LastModifiedBy], [LastModifiedDate]) VALUES (3, 1, N'Admin', N'Role', NULL, N'Role', NULL, 3, N'1', 1, 0, 1, NULL, 1, NULL)
SET IDENTITY_INSERT [dbo].[Menus] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductImages] ON 

INSERT [dbo].[ProductImages] ([Id], [ProductId], [VariantId], [ImagePath], [IsPrimary], [IsActive], [IsDeleted], [CreatedBy], [CreatedDate], [LastModifiedBy], [LastModifiedDate]) VALUES (2, 79, 0, N'/Uploads/Product/38ab02be-dfb4-479a-81ef-8228e23442a8.jpg', 0, 1, 0, 2, CAST(N'2026-03-10T10:18:51.520' AS DateTime), 2, CAST(N'2026-03-10T10:20:00.293' AS DateTime))
INSERT [dbo].[ProductImages] ([Id], [ProductId], [VariantId], [ImagePath], [IsPrimary], [IsActive], [IsDeleted], [CreatedBy], [CreatedDate], [LastModifiedBy], [LastModifiedDate]) VALUES (3, 79, 0, N'-', 0, 1, 0, 2, CAST(N'2026-03-10T10:18:51.520' AS DateTime), NULL, NULL)
INSERT [dbo].[ProductImages] ([Id], [ProductId], [VariantId], [ImagePath], [IsPrimary], [IsActive], [IsDeleted], [CreatedBy], [CreatedDate], [LastModifiedBy], [LastModifiedDate]) VALUES (4, 79, 0, N'/Uploads/Product/bbe9b3b4-d47f-47cc-b103-a601a6aca949.jpg', 0, 1, 0, 2, CAST(N'2026-03-10T10:20:00.290' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[ProductImages] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [CategoryId], [ProductName], [ProductDescription], [IsActive], [IsDeleted], [CreatedBy], [CreatedDate], [LastModifiedBy], [LastModifiedDate]) VALUES (1, 7, N'Enterprise Jewelry Item 1', N'Premium handcrafted certified jewelry piece.', 1, 0, 1, CAST(N'2026-02-27T13:19:35.920' AS DateTime), 1, CAST(N'2026-02-27T13:19:35.920' AS DateTime))
INSERT [dbo].[Products] ([Id], [CategoryId], [ProductName], [ProductDescription], [IsActive], [IsDeleted], [CreatedBy], [CreatedDate], [LastModifiedBy], [LastModifiedDate]) VALUES (2, 19, N'Enterprise Jewelry Item 2', N'Premium handcrafted certified jewelry piece.', 1, 0, 1, CAST(N'2026-02-27T13:19:35.920' AS DateTime), 1, CAST(N'2026-02-27T13:19:35.920' AS DateTime))
INSERT [dbo].[Products] ([Id], [CategoryId], [ProductName], [ProductDescription], [IsActive], [IsDeleted], [CreatedBy], [CreatedDate], [LastModifiedBy], [LastModifiedDate]) VALUES (3, 2, N'Enterprise Jewelry Item 3', N'Premium handcrafted certified jewelry piece.', 1, 0, 1, CAST(N'2026-02-27T13:19:35.920' AS DateTime), 1, CAST(N'2026-02-27T13:19:35.920' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductVariantMapping] ON 

INSERT [dbo].[ProductVariantMapping] ([Id], [ProductId], [SKU], [Price], [StockQuantity], [IsActive], [IsDeleted], [CreatedBy], [CreatedDate], [LastModifiedBy], [LastModifiedDate]) VALUES (1, 1, N'SKU-1-1', CAST(178333.00 AS Decimal(18, 2)), 46, 1, 0, 1, CAST(N'2026-02-27T13:19:35.930' AS DateTime), 1, CAST(N'2026-02-27T13:19:35.930' AS DateTime))
INSERT [dbo].[ProductVariantMapping] ([Id], [ProductId], [SKU], [Price], [StockQuantity], [IsActive], [IsDeleted], [CreatedBy], [CreatedDate], [LastModifiedBy], [LastModifiedDate]) VALUES (2, 1, N'SKU-1-2', CAST(440067.00 AS Decimal(18, 2)), 21, 1, 0, 1, CAST(N'2026-02-27T13:19:35.930' AS DateTime), 1, CAST(N'2026-02-27T13:19:35.930' AS DateTime))
INSERT [dbo].[ProductVariantMapping] ([Id], [ProductId], [SKU], [Price], [StockQuantity], [IsActive], [IsDeleted], [CreatedBy], [CreatedDate], [LastModifiedBy], [LastModifiedDate]) VALUES (3, 1, N'SKU-1-3', CAST(105796.00 AS Decimal(18, 2)), 19, 1, 0, 1, CAST(N'2026-02-27T13:19:35.930' AS DateTime), 1, CAST(N'2026-02-27T13:19:35.930' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[ProductVariantMapping] OFF
GO
SET IDENTITY_INSERT [dbo].[RolePermissions] ON 

INSERT [dbo].[RolePermissions] ([Id], [RoleId], [ActionId], [IsActive], [IsDeleted], [CreatedBy], [CreatedDate], [LastModifiedBy], [LastModifiedDate]) VALUES (1, 1, 1, 1, 0, 1, CAST(N'2026-02-27T17:02:13.787' AS DateTime), 1, CAST(N'2026-02-27T17:02:13.787' AS DateTime))
INSERT [dbo].[RolePermissions] ([Id], [RoleId], [ActionId], [IsActive], [IsDeleted], [CreatedBy], [CreatedDate], [LastModifiedBy], [LastModifiedDate]) VALUES (2, 1, 2, 1, 0, 1, CAST(N'2026-02-27T17:02:13.787' AS DateTime), 1, CAST(N'2026-02-27T17:02:13.787' AS DateTime))
INSERT [dbo].[RolePermissions] ([Id], [RoleId], [ActionId], [IsActive], [IsDeleted], [CreatedBy], [CreatedDate], [LastModifiedBy], [LastModifiedDate]) VALUES (3, 1, 3, 1, 0, 1, CAST(N'2026-02-27T17:02:13.787' AS DateTime), 1, CAST(N'2026-02-27T17:02:13.787' AS DateTime))
SET IDENTITY_INSERT [dbo].[RolePermissions] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [RoleName], [Description], [IsActive], [IsDeleted], [CreatedBy], [CreatedDate], [LastModifiedBy], [LastModifiedDate]) VALUES (1, N'Super Admin', N'Full system access', 1, 0, 1, CAST(N'2026-02-27T13:19:35.910' AS DateTime), 1, CAST(N'2026-02-27T13:19:35.910' AS DateTime))
INSERT [dbo].[Roles] ([Id], [RoleName], [Description], [IsActive], [IsDeleted], [CreatedBy], [CreatedDate], [LastModifiedBy], [LastModifiedDate]) VALUES (2, N'Admin', N'Full system access', 1, 0, 1, CAST(N'2026-02-27T13:19:35.910' AS DateTime), 2, CAST(N'2026-03-09T15:35:44.247' AS DateTime))
INSERT [dbo].[Roles] ([Id], [RoleName], [Description], [IsActive], [IsDeleted], [CreatedBy], [CreatedDate], [LastModifiedBy], [LastModifiedDate]) VALUES (3, N'Store Manager', N'Test', 1, 0, 1, CAST(N'2026-02-27T13:19:35.910' AS DateTime), 2, CAST(N'2026-03-09T09:33:07.400' AS DateTime))
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [FirstName], [LastName], [UserName], [Password], [RoleId], [IsActive], [IsDeleted], [CreatedBy], [CreatedDate], [LastModifiedBy], [LastModifiedDate]) VALUES (1, N'Super', N'Admin', N'Adnin', N'Zt8+p2PF6g8=', 1, 1, 0, 1, CAST(N'2026-02-27T13:19:35.910' AS DateTime), 1, CAST(N'2026-02-27T13:19:35.910' AS DateTime))
INSERT [dbo].[Users] ([Id], [FirstName], [LastName], [UserName], [Password], [RoleId], [IsActive], [IsDeleted], [CreatedBy], [CreatedDate], [LastModifiedBy], [LastModifiedDate]) VALUES (2, N'Admin', N'', N'Admin', N'Zt8+p2PF6g8=', 2, 1, 0, 1, CAST(N'2026-02-27T13:19:35.910' AS DateTime), 1, CAST(N'2026-02-27T13:19:35.910' AS DateTime))
INSERT [dbo].[Users] ([Id], [FirstName], [LastName], [UserName], [Password], [RoleId], [IsActive], [IsDeleted], [CreatedBy], [CreatedDate], [LastModifiedBy], [LastModifiedDate]) VALUES (3, N'Arjun', N'Sharma', N'arjun.sharma@jewelrystore.com', N'k5wV61ccalc=', 5, 1, 0, 1, CAST(N'2026-02-27T13:19:35.913' AS DateTime), 1, CAST(N'2026-02-27T13:19:35.913' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_CouponCode]    Script Date: 10-03-2026 12:30:07 PM ******/
ALTER TABLE [dbo].[Coupons] ADD  CONSTRAINT [UQ_CouponCode] UNIQUE NONCLUSTERED 
(
	[CouponCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__8A2B616094EF9BEA]    Script Date: 10-03-2026 12:30:07 PM ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D10534E640F34D]    Script Date: 10-03-2026 12:30:07 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Attribute] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Attribute] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Attribute] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[AttributeValue] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[AttributeValue] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[AttributeValue] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Cart] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Cart] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Cart] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Category] ADD  CONSTRAINT [DF__Category__IsActi__7C3A67EB]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Category] ADD  CONSTRAINT [DF__Category__IsDele__7D2E8C24]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Category] ADD  CONSTRAINT [DF__Category__Create__7E22B05D]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Coupons] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Coupons] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Coupons] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Inquiries] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Inquiries] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Inquiries] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[OrderItems] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[OrderItems] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[OrderItems] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[ProductImages] ADD  CONSTRAINT [DF__ProductIm__IsAct__0A888742]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ProductImages] ADD  CONSTRAINT [DF__ProductIm__IsDel__0B7CAB7B]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[ProductImages] ADD  CONSTRAINT [DF__ProductIm__Creat__0C70CFB4]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[ProductVariantDetails] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ProductVariantDetails] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[ProductVariantDetails] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[ProductVariantMapping] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ProductVariantMapping] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[ProductVariantMapping] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[RolePermissions] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[RolePermissions] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[RolePermissions] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
/****** Object:  StoredProcedure [dbo].[SP_Actions_Get]    Script Date: 10-03-2026 12:30:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[SP_Actions_Get]
(
 @Search NVARCHAR(200) = NULL,
 @Start INT = 0,
 @Length INT = 25
)
AS
BEGIN
 SET NOCOUNT ON;

 DECLARE @Total INT, @Filtered INT;

 SELECT @Total = COUNT(*) FROM Actions WHERE IsDeleted = 0;

 SELECT @Filtered = COUNT(*)
 FROM Actions
 WHERE IsDeleted = 0
   AND (@Search IS NULL OR CAST(Id AS NVARCHAR) LIKE '%' + @Search + '%');
   
 SELECT @Total AS TotalRecords, @Filtered AS FilteredRecords;

 SELECT *
 FROM Actions
 WHERE IsDeleted = 0
   AND (@Search IS NULL OR CAST(Id AS NVARCHAR) LIKE '%' + @Search + '%')
 ORDER BY Id DESC
 OFFSET @Start ROWS FETCH NEXT @Length ROWS ONLY;

END

GO
/****** Object:  StoredProcedure [dbo].[SP_Actions_Save]    Script Date: 10-03-2026 12:30:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/* ============================================================
   Actions
============================================================ */

CREATE   PROCEDURE [dbo].[SP_Actions_Save]
(
 @Id INT = 0,
 @IsActive BIT = 1,
 @IsDeleted BIT = 0,
 @Mode NVARCHAR(10),
 @OperatedBy INT,
 @response NVARCHAR(MAX) OUT
)
AS
BEGIN
 SET NOCOUNT ON;

 -- Default Error Response
 SET @response = 'E|Opps!... Something went wrong. Please contact system administrator|0';

 BEGIN TRY

  IF @Mode NOT IN ('SAVE','STATUS')
  BEGIN
   SET @response = 'E|Invalid mode supplied.|0';
   RETURN;
  END

  IF @Mode = 'SAVE'
  BEGIN
   IF @Id > 0
    UPDATE Actions
    SET LastModifiedBy = @OperatedBy,
        LastModifiedDate = GETDATE()
    WHERE Id = @Id;
   ELSE
   BEGIN
    INSERT INTO Actions (CreatedBy)
    VALUES (@OperatedBy);

    SET @Id = SCOPE_IDENTITY();
   END
  END
  ELSE IF @Mode = 'STATUS'
  BEGIN
   UPDATE Actions
   SET IsActive = @IsActive,
       IsDeleted = @IsDeleted,
       LastModifiedBy = @OperatedBy,
       LastModifiedDate = GETDATE()
   WHERE Id = @Id;
  END

  SET @response = 'S|Record saved successfully|' + CAST(@Id AS NVARCHAR);
  RETURN;

 END TRY
 BEGIN CATCH
  SET @response = 'E|' + ERROR_MESSAGE() + '|0';
  RETURN;
 END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[SP_Attribute_Get]    Script Date: 10-03-2026 12:30:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[SP_Attribute_Get]
(
 @Search NVARCHAR(200) = NULL,
 @Start INT = 0,
 @Length INT = 25
)
AS
BEGIN
 SET NOCOUNT ON;

 DECLARE @Total INT, @Filtered INT;

 SELECT @Total = COUNT(*) FROM Attribute WHERE IsDeleted = 0;

 SELECT @Filtered = COUNT(*)
 FROM Attribute
 WHERE IsDeleted = 0
   AND (@Search IS NULL OR CAST(Id AS NVARCHAR) LIKE '%' + @Search + '%');
   
 SELECT @Total AS TotalRecords, @Filtered AS FilteredRecords;

 SELECT *
 FROM Attribute
 WHERE IsDeleted = 0
   AND (@Search IS NULL OR CAST(Id AS NVARCHAR) LIKE '%' + @Search + '%')
 ORDER BY Id DESC
 OFFSET @Start ROWS FETCH NEXT @Length ROWS ONLY;

END

GO
/****** Object:  StoredProcedure [dbo].[SP_Attribute_Save]    Script Date: 10-03-2026 12:30:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/* ============================================================
   Attribute
============================================================ */

CREATE   PROCEDURE [dbo].[SP_Attribute_Save]
(
 @Id INT = 0,
 @IsActive BIT = 1,
 @IsDeleted BIT = 0,
 @Mode NVARCHAR(10),
 @OperatedBy INT,
 @response NVARCHAR(MAX) OUT
)
AS
BEGIN
 SET NOCOUNT ON;

 -- Default Error Response
 SET @response = 'E|Opps!... Something went wrong. Please contact system administrator|0';

 BEGIN TRY

  IF @Mode NOT IN ('SAVE','STATUS','DELETE')
  BEGIN
   SET @response = 'E|Invalid mode supplied.|0';
   RETURN;
  END

  IF @Mode = 'SAVE'
  BEGIN
   IF @Id > 0
    UPDATE Attribute
    SET LastModifiedBy = @OperatedBy,
        LastModifiedDate = GETDATE()
    WHERE Id = @Id;
   ELSE
   BEGIN
    INSERT INTO Attribute (CreatedBy)
    VALUES (@OperatedBy);

    SET @Id = SCOPE_IDENTITY();
   END
  END
  ELSE IF @Mode = 'STATUS'
  BEGIN
   UPDATE Attribute
   SET IsActive = @IsActive,
       IsDeleted = @IsDeleted,
       LastModifiedBy = @OperatedBy,
       LastModifiedDate = GETDATE()
   WHERE Id = @Id;
  END

  SET @response = 'S|Record saved successfully|' + CAST(@Id AS NVARCHAR);
  RETURN;

 END TRY
 BEGIN CATCH
  SET @response = 'E|' + ERROR_MESSAGE() + '|0';
  RETURN;
 END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_AttributeValue_Get]    Script Date: 10-03-2026 12:30:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[SP_AttributeValue_Get]
(
 @Search NVARCHAR(200) = NULL,
 @Start INT = 0,
 @Length INT = 25
)
AS
BEGIN
 SET NOCOUNT ON;

 DECLARE @Total INT, @Filtered INT;

 SELECT @Total = COUNT(*) FROM AttributeValue WHERE IsDeleted = 0;

 SELECT @Filtered = COUNT(*)
 FROM AttributeValue
 WHERE IsDeleted = 0
   AND (@Search IS NULL OR CAST(Id AS NVARCHAR) LIKE '%' + @Search + '%');
   
 SELECT @Total AS TotalRecords, @Filtered AS FilteredRecords;

 SELECT *
 FROM AttributeValue
 WHERE IsDeleted = 0
   AND (@Search IS NULL OR CAST(Id AS NVARCHAR) LIKE '%' + @Search + '%')
 ORDER BY Id DESC
 OFFSET @Start ROWS FETCH NEXT @Length ROWS ONLY;

END

GO
/****** Object:  StoredProcedure [dbo].[SP_AttributeValue_Save]    Script Date: 10-03-2026 12:30:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/* ============================================================
   AttributeValue
============================================================ */

CREATE   PROCEDURE [dbo].[SP_AttributeValue_Save]
(
 @Id INT = 0,
 @IsActive BIT = 1,
 @IsDeleted BIT = 0,
 @Mode NVARCHAR(10),
 @OperatedBy INT,
 @response NVARCHAR(MAX) OUT
)
AS
BEGIN
 SET NOCOUNT ON;

 -- Default Error Response
 SET @response = 'E|Opps!... Something went wrong. Please contact system administrator|0';

 BEGIN TRY

  IF @Mode NOT IN ('SAVE','STATUS')
  BEGIN
   SET @response = 'E|Invalid mode supplied.|0';
   RETURN;
  END

  IF @Mode = 'SAVE'
  BEGIN
   IF @Id > 0
    UPDATE AttributeValue
    SET LastModifiedBy = @OperatedBy,
        LastModifiedDate = GETDATE()
    WHERE Id = @Id;
   ELSE
   BEGIN
    INSERT INTO AttributeValue (CreatedBy)
    VALUES (@OperatedBy);

    SET @Id = SCOPE_IDENTITY();
   END
  END
  ELSE IF @Mode = 'STATUS'
  BEGIN
   UPDATE AttributeValue
   SET IsActive = @IsActive,
       IsDeleted = @IsDeleted,
       LastModifiedBy = @OperatedBy,
       LastModifiedDate = GETDATE()
   WHERE Id = @Id;
  END

  SET @response = 'S|Record saved successfully|' + CAST(@Id AS NVARCHAR);
  RETURN;

 END TRY
 BEGIN CATCH
  SET @response = 'E|' + ERROR_MESSAGE() + '|0';
  RETURN;
 END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[SP_Category_Get]    Script Date: 10-03-2026 12:30:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_Category_Get]
(
    @Id INT = NULL,
    @Search NVARCHAR(200) = NULL,
    @Start INT = 0,
    @Length INT = 25,
    @SortColumnIndex INT = 0,
    @SortDirection NVARCHAR(4) = 'DESC'
)
AS
BEGIN
    SET NOCOUNT ON;

    -------------------------------------------------------
    -- SINGLE RECORD
    -------------------------------------------------------
    IF @Id IS NOT NULL 
    BEGIN
        SELECT X.Id, X.CategoryName, X.ParentCategoryId, X.ImagePath, X.IsActive, X.IsDeleted,
            P.CategoryName AS ParentCategoryName
        FROM Category X
        LEFT JOIN Category P ON P.Id = X.ParentCategoryId
        --WHERE X.Id = @Id AND X.IsDeleted = 0;
		WHERE X.Id = (CASE WHEN @Id < 0 THEN X.Id ELSE @Id END) AND X.IsDeleted = 0
		AND X.IsActive = (CASE WHEN @Id < 0 THEN 1 ELSE X.IsActive END);

        RETURN;
    END

    -------------------------------------------------------
    -- SORT MAPPING
    -------------------------------------------------------
    DECLARE @OrderBy NVARCHAR(100);

    SET @OrderBy =
        CASE @SortColumnIndex
            WHEN 0 THEN 'X.Id'
            WHEN 1 THEN 'X.CategoryName'
            WHEN 2 THEN 'P.CategoryName'
            WHEN 3 THEN 'X.IsActive'
            ELSE 'X.Id'
        END;

    IF @SortDirection NOT IN ('ASC','DESC')
        SET @SortDirection = 'DESC';

    -------------------------------------------------------
    -- COUNTS
    -------------------------------------------------------
    DECLARE @Total INT, @Filtered INT;

    SELECT @Total = COUNT(*) 
    FROM Category 
    WHERE IsDeleted = 0;

    SELECT @Filtered = COUNT(*)
    FROM Category X
    LEFT JOIN Category P ON P.Id = X.ParentCategoryId
    WHERE X.IsDeleted = 0
      AND (@Search IS NULL
           OR X.CategoryName LIKE '%' + @Search + '%'
           OR P.CategoryName LIKE '%' + @Search + '%');

    SELECT @Total AS TotalRecords, @Filtered AS FilteredRecords;

    -------------------------------------------------------
    -- DATA
    -------------------------------------------------------
    DECLARE @SQL NVARCHAR(MAX);

    SET @SQL = '
    SELECT 
        ROW_NUMBER() OVER (ORDER BY ' + @OrderBy + ' ' + @SortDirection + ') + @Start AS SrNo,
        X.*,
        P.CategoryName AS ParentCategoryName
    FROM Category X
    LEFT JOIN Category P ON P.Id = X.ParentCategoryId
    WHERE X.IsDeleted = 0
    ';

    IF @Search IS NOT NULL
        SET @SQL += '
        AND (
            X.CategoryName LIKE ''%'' + @Search + ''%'' OR
            P.CategoryName LIKE ''%'' + @Search + ''%''
        )';

    SET @SQL += '
    ORDER BY ' + @OrderBy + ' ' + @SortDirection + '
    OFFSET @Start ROWS FETCH NEXT @Length ROWS ONLY';

    EXEC sp_executesql
        @SQL,
        N'@Search NVARCHAR(200), @Start INT, @Length INT',
        @Search, @Start, @Length;

END
GO
/****** Object:  StoredProcedure [dbo].[SP_Category_Save]    Script Date: 10-03-2026 12:30:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_Category_Save]
(
 @Id INT = 0,
 @ParentCategoryId INT = NULL,
 @CategoryName NVARCHAR(250) = NULL,
 @ImagePath NVARCHAR(500) = NULL,
 @ImagePath_Remove BIT = 0,
 @IsActive BIT = 1,
 @IsDeleted BIT = 0,
 @Mode NVARCHAR(10),
 @OperatedBy INT,
 @response NVARCHAR(MAX) OUT
)
AS
BEGIN
 SET NOCOUNT ON;

 SET @response = 'E|Opps!... Something went wrong.|0';

 BEGIN TRY

  IF @Mode NOT IN ('SAVE','STATUS','DELETE')
  BEGIN
   SET @response = 'E|Invalid mode supplied.|0';
   RETURN;
  END

 ----------------------------------------------------
 -- SAVE
 ----------------------------------------------------
  IF @Mode = 'SAVE'
  BEGIN

   IF ISNULL(@CategoryName,'') = ''
   BEGIN
    SET @response = 'E|Category Name is required.|0';
    RETURN;
   END

   -- Duplicate validation
   IF EXISTS (
    SELECT 1 FROM Category
    WHERE CategoryName = @CategoryName
      AND ISNULL(ParentCategoryId,0) = ISNULL(@ParentCategoryId,0)
      AND IsDeleted = 0
      AND (@Id = 0 OR Id <> @Id)
   )
   BEGIN
    SET @response = 'E|Category already exists under same parent.|0';
    RETURN;
   END

   ------------------------------------------------
   -- UPDATE
   ------------------------------------------------
   IF @Id > 0
   BEGIN
		DECLARE @OldImagePath NVARCHAR(500);

		SELECT @OldImagePath = ImagePath
		FROM Category
		WHERE Id = @Id;

    UPDATE Category
    SET ParentCategoryId = @ParentCategoryId,
        CategoryName = @CategoryName,
		ImagePath =
                CASE
					WHEN @ImagePath_Remove = 1 AND ISNULL(@ImagePath,'') = '' THEN NULL
					WHEN ISNULL(@ImagePath,'') <> '' THEN @ImagePath
					ELSE ImagePath
				END,
        IsActive = @IsActive,
        LastModifiedBy = @OperatedBy,
        LastModifiedDate = GETDATE()
    WHERE Id = @Id;

    SET @response = 'S|Record updated successfully|' + CAST(@Id AS NVARCHAR)+ '|' 
	+ (CASE WHEN @ImagePath_Remove = 1 THEN ISNULL(@OldImagePath,'') WHEN @OldImagePath <> @ImagePath THEN ISNULL(@OldImagePath,'') ELSE '' END);
    RETURN;
   END
   ELSE
   BEGIN

    ------------------------------------------------
    -- INSERT
    ------------------------------------------------
    INSERT INTO Category
    (
     ParentCategoryId,
     CategoryName,
	 ImagePath,
     IsActive,
     IsDeleted,
     CreatedBy,
     CreatedDate
    )
    VALUES
    (
     @ParentCategoryId,
     @CategoryName,
	 @ImagePath,
     @IsActive,
     0,
     @OperatedBy,
     GETDATE()
    );

    SET @Id = SCOPE_IDENTITY();

    SET @response = 'S|Record saved successfully|' + CAST(@Id AS NVARCHAR);
    RETURN;

   END

  END

 ----------------------------------------------------
 -- STATUS CHANGE
 ----------------------------------------------------
  IF @Mode = 'STATUS'
  BEGIN

   UPDATE Category
   SET IsActive = @IsActive,
       LastModifiedBy = @OperatedBy,
       LastModifiedDate = GETDATE()
   WHERE Id = @Id;

   SET @response = 'S|Status updated successfully|' + CAST(@Id AS NVARCHAR);
   RETURN;

  END

 ----------------------------------------------------
 -- DELETE (SAFE SOFT DELETE)
 ----------------------------------------------------
  IF @Mode = 'DELETE'
  BEGIN

   -- Check child categories
   IF EXISTS (
    SELECT 1 FROM Category
    WHERE ParentCategoryId = @Id
    AND IsDeleted = 0
   )
   BEGIN
    SET @response = 'E|Child categories exist. Cannot delete.|0';
    RETURN;
   END

   -- Check products
   IF EXISTS (
    SELECT 1 FROM Products
    WHERE CategoryId = @Id
    AND IsDeleted = 0
   )
   BEGIN
    SET @response = 'E|Products exist under this category.|0';
    RETURN;
   END

   UPDATE Category
   SET IsDeleted = 1,
       LastModifiedBy = @OperatedBy,
       LastModifiedDate = GETDATE()
   WHERE Id = @Id;

   SET @response = 'S|Category deleted successfully|' + CAST(@Id AS NVARCHAR);
   RETURN;

  END

 END TRY
 BEGIN CATCH
  SET @response = 'E|' + ERROR_MESSAGE() + '|0';
 END CATCH

END
GO
/****** Object:  StoredProcedure [dbo].[SP_CheckAuthentication]    Script Date: 10-03-2026 12:30:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_CheckAuthentication]
(
    @UserName NVARCHAR(150),
    @Password NVARCHAR(255),
    @response NVARCHAR(MAX) OUT
)
AS
BEGIN
    SET NOCOUNT ON;

    -- Default Error Response
    SET @response = 'E|Opps!... Something went wrong. Please contact system administrator|0';

    BEGIN TRY

        -- Validation
        IF @UserName IS NULL OR @Password IS NULL
        BEGIN
            SET @response = 'E|Username and password are required.|0';
            RETURN;
        END

        DECLARE 
            @UserId INT = 0,
            @RoleId INT = 0,
            @FullName NVARCHAR(200) = '',
            @RoleName NVARCHAR(100) = '',
            @IsActive BIT = 0,
            @IsDeleted BIT = 0;

        SELECT 
            @UserId = u.Id,
            @RoleId = u.RoleId,
            @FullName = ISNULL(u.FirstName,'') + ' ' + ISNULL(u.LastName,''),
            @RoleName = r.RoleName,
            @IsActive = u.IsActive,
            @IsDeleted = u.IsDeleted
        FROM Users u
        INNER JOIN Roles r ON u.RoleId = r.Id
        WHERE UserName = @UserName
          AND Password = @Password;

        -- User Not Found
        IF @UserId IS NULL OR @UserId = 0
        BEGIN
            SET @response = 'E|Invalid email or password.|0';
            RETURN;
        END

        -- Soft Delete Check
        IF @IsDeleted = 1
        BEGIN
            SET @response = 'E|Your account has been removed. Contact administrator.|0';
            RETURN;
        END

        -- Active Check
        IF @IsActive = 0
        BEGIN
            SET @response = 'E|Your account is inactive. Contact administrator.|0';
            RETURN;
        END

        -- S|Message|UserId|FullName|RoleId|RoleName

        SET @response = 
            'S|Login successful|'
            + CAST(@UserId AS NVARCHAR) + '|'
            + ISNULL(@FullName,'') + '|'
            + CAST(@RoleId AS NVARCHAR) + '|'
            + ISNULL(@RoleName,'');

        RETURN;

    END TRY
    BEGIN CATCH
        SET @response = 'E|' + ERROR_MESSAGE() + '|0';
        RETURN;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Menus_Get]    Script Date: 10-03-2026 12:30:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_Menus_Get]
(
    @Id INT = NULL,
    @Search NVARCHAR(200) = NULL,
    @Start INT = 0,
    @Length INT = 25,
    @SortColumnIndex INT = 0,
    @SortDirection NVARCHAR(4) = 'DESC'
)
AS
BEGIN
    SET NOCOUNT ON;

    -- =====================================================
    -- SINGLE RECORD MODE
    -- =====================================================
    IF @Id IS NOT NULL
    BEGIN

        SELECT 
            1 AS SrNo,
            X.*,
            P.Name AS ParentName
        FROM Menus X
        LEFT JOIN Menus P ON P.Id = X.ParentId
        WHERE X.Id = (CASE WHEN @Id < 0 THEN X.Id ELSE @Id END) AND X.IsDeleted = 0
		AND X.IsActive = (CASE WHEN @Id < 0 THEN 1 ELSE X.IsActive END);

        RETURN;
    END

    -- =====================================================
    -- SORT MAPPING (SAFE)
    -- =====================================================
    DECLARE @OrderBy NVARCHAR(100);

    SET @OrderBy =
        CASE @SortColumnIndex
            WHEN 0 THEN 'M.Id'
            WHEN 1 THEN 'M.Name'
            WHEN 2 THEN 'M.Area'
            WHEN 3 THEN 'M.Controller'
            WHEN 4 THEN 'M.DisplayOrder'
            WHEN 5 THEN 'M.IsActive'
            ELSE 'M.Id'
        END;

    IF @SortDirection NOT IN ('ASC','DESC')
        SET @SortDirection = 'DESC';

    -- =====================================================
    -- COUNTS
    -- =====================================================
    DECLARE @Total INT, @Filtered INT;

    SELECT @Total = COUNT(*) FROM Menus WHERE IsDeleted = 0;

    SELECT @Filtered = COUNT(*)
    FROM Menus M
    WHERE M.IsDeleted = 0
      AND (@Search IS NULL OR
           M.Name LIKE '%' + @Search + '%' OR
           M.Area LIKE '%' + @Search + '%' OR
           M.Controller LIKE '%' + @Search + '%');

    SELECT @Total AS TotalRecords, @Filtered AS FilteredRecords;

    -- =====================================================
    -- DATA
    -- =====================================================
    DECLARE @SQL NVARCHAR(MAX);

    SET @SQL = '
    SELECT 
        ROW_NUMBER() OVER (ORDER BY ' + @OrderBy + ' ' + @SortDirection + ') + @Start AS SrNo,
        M.*,
        P.Name AS ParentName
    FROM Menus M
    LEFT JOIN Menus P ON P.Id = M.ParentId
    WHERE M.IsDeleted = 0
    ';

    IF @Search IS NOT NULL
        SET @SQL += '
        AND (
            M.Name LIKE ''%'' + @Search + ''%'' OR
            M.Area LIKE ''%'' + @Search + ''%'' OR
            M.Controller LIKE ''%'' + @Search + ''%''
        )';

    SET @SQL += '
    ORDER BY ' + @OrderBy + ' ' + @SortDirection + '
    OFFSET @Start ROWS FETCH NEXT @Length ROWS ONLY';

    EXEC sp_executesql
        @SQL,
        N'@Search NVARCHAR(200), @Start INT, @Length INT',
        @Search, @Start, @Length;

END
GO
/****** Object:  StoredProcedure [dbo].[SP_Menus_Save]    Script Date: 10-03-2026 12:30:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_Menus_Save]
(
    @Id INT = 0,
    @ParentId INT = NULL,
    @Area NVARCHAR(100) = NULL,
    @Controller NVARCHAR(100) = NULL,
    @Name NVARCHAR(250) = NULL,
    @Url NVARCHAR(250) = NULL,
    @DisplayOrder INT = 0,
    @IsActive BIT = 1,
    @IsDeleted BIT = 0,
    @Mode NVARCHAR(10),
    @OperatedBy INT,
    @response NVARCHAR(MAX) OUT
)
AS
BEGIN
    SET NOCOUNT ON;

    SET @response = 'E|Opps!... Something went wrong.|0';

    BEGIN TRY

        IF @Mode NOT IN ('SAVE','STATUS','DELETE')
        BEGIN
            SET @response = 'E|Invalid mode supplied.|0';
            RETURN;
        END

        -- =====================================================
        -- SAVE MODE
        -- =====================================================
        IF @Mode = 'SAVE'
        BEGIN
            -- Required Validation
            IF ISNULL(@Name,'') = ''
            BEGIN
                SET @response = 'E|Menu Name is required.|0';
                RETURN;
            END

            -- Duplicate Validation (same Parent)
            IF EXISTS (
                SELECT 1 FROM Menus
                WHERE Name = @Name
                  AND ISNULL(ParentId,0) = ISNULL(@ParentId,0)
                  AND IsDeleted = 0
                  AND (@Id = 0 OR Id <> @Id)
            )
            BEGIN
                SET @response = 'E|Menu already exists under same parent.|0';
                RETURN;
            END

            -- UPDATE
            IF @Id > 0
            BEGIN
                UPDATE Menus
                SET ParentId = @ParentId,
                    Area = @Area,
                    Controller = @Controller,
                    Url = @Url,
                    Name = @Name,
                    DisplayOrder = @DisplayOrder,
                    IsActive = @IsActive,
                    LastModifiedBy = @OperatedBy,
                    LastModifiedDate = GETDATE()
                WHERE Id = @Id;

                SET @response = 'S|Record updated successfully|' + CAST(@Id AS NVARCHAR);
                RETURN;
            END
            ELSE
            BEGIN
                INSERT INTO Menus
                (
                    ParentId, Area, Controller, Url, Name, DisplayOrder,
                    IsActive, IsDeleted,
                    CreatedBy, CreatedDate
                )
                VALUES
                (
                    @ParentId, @Area, @Controller, @Url, @Name, @DisplayOrder,
                    @IsActive, 0,
                    @OperatedBy, GETDATE()
                );

                SET @Id = SCOPE_IDENTITY();

                SET @response = 'S|Record saved successfully|' + CAST(@Id AS NVARCHAR);
                RETURN;
            END
        END

        -- =====================================================
        -- STATUS MODE
        -- =====================================================
        IF @Mode = 'STATUS'
        BEGIN
            UPDATE Menus
            SET IsActive = @IsActive,
                IsDeleted = @IsDeleted,
                LastModifiedBy = @OperatedBy,
                LastModifiedDate = GETDATE()
            WHERE Id = @Id;

            SET @response = 'S|Record updated successfully|' + CAST(@Id AS NVARCHAR);
            RETURN;
        END
		ELSE IF @Mode = 'DELETE'
		BEGIN
		 UPDATE Menus
		 SET IsActive = 0,
		   IsDeleted = 1,
		   LastModifiedBy = @OperatedBy,
		   LastModifiedDate = GETDATE()
		 WHERE Id = @Id;
		 
            SET @response = 'S|Record deleted successfully|' + CAST(@Id AS NVARCHAR);
            RETURN;
		END



    END TRY
    BEGIN CATCH
        SET @response = 'E|' + ERROR_MESSAGE() + '|0';
        RETURN;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Product_Get]    Script Date: 10-03-2026 12:30:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_Product_Get]
(
 @Id INT = NULL,
 @Search NVARCHAR(200) = NULL,
 @Start INT = 0,
 @Length INT = 25,
 @SortColumnIndex INT = 0,
 @SortDirection NVARCHAR(4) = 'DESC'
)
AS
BEGIN

SET NOCOUNT ON;

---------------------------------------
-- SINGLE RECORD
---------------------------------------
IF @Id IS NOT NULL
BEGIN

 SELECT
     1 AS SrNo,
     X.*,
     C.CategoryName
 FROM Products X
 LEFT JOIN Category C ON C.Id = X.CategoryId
		WHERE X.Id = (CASE WHEN @Id < 0 THEN X.Id ELSE @Id END) AND X.IsDeleted = 0
		AND X.IsActive = (CASE WHEN @Id < 0 THEN 1 ELSE X.IsActive END);

	SELECT * FROM ProductImages 
	WHERE ProductId IN (SELECT Id FROM Products X 
					WHERE X.Id = (CASE WHEN @Id < 0 THEN X.Id ELSE @Id END) AND X.IsDeleted = 0
					AND X.IsActive = (CASE WHEN @Id < 0 THEN 1 ELSE X.IsActive END)
				);
 RETURN;

END

---------------------------------------
-- SORT COLUMN MAP
---------------------------------------

DECLARE @OrderBy NVARCHAR(100);

SET @OrderBy =
CASE @SortColumnIndex
 WHEN 0 THEN 'P.Id'
 WHEN 1 THEN 'P.ProductName'
 WHEN 2 THEN 'C.CategoryName'
 WHEN 3 THEN 'P.Price'
 WHEN 4 THEN 'P.IsActive'
 ELSE 'P.Id'
END

IF @SortDirection NOT IN ('ASC','DESC')
 SET @SortDirection = 'DESC';

---------------------------------------
-- COUNTS
---------------------------------------

DECLARE @Total INT;
DECLARE @Filtered INT;

SELECT @Total = COUNT(*)
FROM Products
WHERE IsDeleted = 0;

SELECT @Filtered = COUNT(*)
FROM Products P
LEFT JOIN Category C ON C.Id = P.CategoryId
WHERE P.IsDeleted = 0
AND (
 @Search IS NULL
 OR P.ProductName LIKE '%' + @Search + '%'
 OR C.CategoryName LIKE '%' + @Search + '%'
);

SELECT @Total AS TotalRecords, @Filtered AS FilteredRecords;

---------------------------------------
-- DATA
---------------------------------------

DECLARE @SQL NVARCHAR(MAX);

SET @SQL = '
SELECT
 ROW_NUMBER() OVER (ORDER BY ' + @OrderBy + ' ' + @SortDirection + ') + @Start AS SrNo,
 P.*,
 C.CategoryName
FROM Products P
LEFT JOIN Category C ON C.Id = P.CategoryId
WHERE P.IsDeleted = 0
';

IF @Search IS NOT NULL
SET @SQL += '
AND (
 P.ProductName LIKE ''%'' + @Search + ''%''
 OR C.CategoryName LIKE ''%'' + @Search + ''%''
)
';

SET @SQL += '
ORDER BY ' + @OrderBy + ' ' + @SortDirection + '
OFFSET @Start ROWS FETCH NEXT @Length ROWS ONLY
';

EXEC sp_executesql
@SQL,
N'@Search NVARCHAR(200), @Start INT, @Length INT',
@Search,@Start,@Length;

END
GO
/****** Object:  StoredProcedure [dbo].[SP_Product_Save]    Script Date: 10-03-2026 12:30:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_Product_Save]
(
    @Id INT = 0,
    @CategoryId INT,
    @ProductName NVARCHAR(250),
    @ProductDescription NVARCHAR(MAX) = NULL,
    @SKU NVARCHAR(250)= NULL,
	@Price DECIMAL(18,2) = NULL,
    @ProductImages NVARCHAR(MAX) = NULL,
    @IsActive BIT = 1,
    @Mode NVARCHAR(10),
    @OperatedBy INT,
    @response NVARCHAR(MAX) OUT
)
AS
BEGIN

SET NOCOUNT ON;

SET @response = 'E|Something went wrong|0';

BEGIN TRY

    BEGIN TRANSACTION;

	--------------------------------------------------
	-- SAVE PRODUCT
	--------------------------------------------------

	IF @Mode = 'SAVE'
	BEGIN

	--------------------------------------------------
	-- UPDATE PRODUCT
	--------------------------------------------------

	IF @Id > 0
	BEGIN

	UPDATE Products
	SET
	CategoryId = @CategoryId,
	ProductName = @ProductName,
	ProductDescription = @ProductDescription,
	IsActive = @IsActive,
	LastModifiedBy = @OperatedBy,
	LastModifiedDate = GETDATE()
	WHERE Id = @Id;

	UPDATE PVM
	SET
		PVM.Price = @Price,
		PVM.LastModifiedBy = @OperatedBy,
		PVM.LastModifiedDate = GETDATE()
	FROM ProductVariantMapping PVM
	WHERE PVM.ProductId = @Id
	AND PVM.IsDeleted = 0
	AND NOT EXISTS
	(
		SELECT 1
		FROM ProductVariantDetails PVD
		WHERE PVD.VariantId = PVM.Id
		AND PVD.IsDeleted = 0
	)

	END
	ELSE
	BEGIN

	--------------------------------------------------
	-- INSERT PRODUCT
	--------------------------------------------------

	INSERT INTO Products
	(CategoryId, ProductName, ProductDescription, IsActive, IsDeleted, CreatedBy, CreatedDate)
	VALUES
	(@CategoryId, @ProductName, @ProductDescription, @IsActive, 0, @OperatedBy, GETDATE());

	SET @Id = SCOPE_IDENTITY();

	--------------------------------------------------
	-- CREATE DEFAULT VARIANT
	--------------------------------------------------

	INSERT INTO ProductVariantMapping
	(ProductId, SKU, Price, StockQuantity, IsActive, IsDeleted, CreatedBy, CreatedDate)
	VALUES
	(@Id, @SKU, @Price, 0, 1, 0, @OperatedBy, GETDATE());

	END

	--------------------------------------------------
	-- PRODUCT IMAGES
	--------------------------------------------------

	IF ISNULL(@ProductImages,'') <> ''
	BEGIN

	DECLARE @Images TABLE
	(
	Id INT,
	ImagePath NVARCHAR(500),
	IsPrimary BIT,
	IsRemove BIT
	);

	-- Split rows by ||
	WITH ImageRows AS
	(
		SELECT value
		FROM STRING_SPLIT(REPLACE(@ProductImages,'||','~'),'~')
	),
	SplitColumns AS
	(
		SELECT 
			r.value,
			s.value AS columnValue,
			ROW_NUMBER() OVER (PARTITION BY r.value ORDER BY (SELECT 1)) rn
		FROM ImageRows r
		CROSS APPLY STRING_SPLIT(r.value,'|') s
	)
	INSERT INTO @Images
	SELECT
		MAX(CASE WHEN rn = 1 THEN TRY_CAST(columnValue AS INT) END),
		MAX(CASE WHEN rn = 2 THEN columnValue END),
		MAX(CASE WHEN rn = 3 THEN TRY_CAST(columnValue AS INT) END),
		MAX(CASE WHEN rn = 4 THEN TRY_CAST(columnValue AS INT) END)
	FROM SplitColumns
	GROUP BY value

	--------------------------------------------------
	-- DELETE IMAGES
	--------------------------------------------------

	DELETE ProductImages WHERE Id IN (SELECT Id FROM @Images WHERE IsRemove = 1);

	--UPDATE ProductImages
	--SET IsDeleted = 1, LastModifiedBy = @OperatedBy, LastModifiedDate = GETDATE()
	--WHERE Id IN (SELECT Id FROM @Images WHERE IsRemove = 1)

	--------------------------------------------------
	-- INSERT NEW IMAGES
	--------------------------------------------------

	INSERT INTO ProductImages
	(ProductId, VariantId, ImagePath, IsPrimary, IsActive, IsDeleted, CreatedBy, CreatedDate)
	SELECT
	@Id, 0, ImagePath, IsPrimary, 1, 0, @OperatedBy, GETDATE()
	FROM @Images
	WHERE Id = 0 AND IsRemove = 0

	--------------------------------------------------
	-- UPDATE PRIMARY FLAG
	--------------------------------------------------

	UPDATE PI
	SET PI.ImagePath = (CASE WHEN ISNULL(I.ImagePath, '') <> '' OR TRIM(I.ImagePath) = '-' THEN PI.ImagePath ELSE I.ImagePath END),
	PI.IsPrimary = I.IsPrimary,
	PI.LastModifiedBy = @OperatedBy,
	PI.LastModifiedDate = GETDATE()
	FROM ProductImages PI
	INNER JOIN @Images I ON PI.Id = I.Id
	WHERE I.IsRemove = 0

	--------------------------------------------------
	-- ENSURE SINGLE PRIMARY
	--------------------------------------------------

	IF EXISTS (SELECT 1 FROM @Images WHERE IsPrimary = 1)
	BEGIN

	UPDATE ProductImages
	SET IsPrimary = 0
	WHERE ProductId = @Id AND IsDeleted = 0

	UPDATE PI
	SET IsPrimary = 1
	FROM ProductImages PI
	INNER JOIN @Images I ON PI.Id = I.Id
	WHERE I.IsPrimary = 1

	END

	END
	
    COMMIT TRANSACTION;

	SET @response = 'S|Record saved successfully|' + CAST(@Id AS NVARCHAR);

	RETURN;

END

END TRY
BEGIN CATCH

    IF @@TRANCOUNT > 0
        ROLLBACK TRANSACTION;

	SET @response = 'E|' + ERROR_MESSAGE() + '|0';

END CATCH

END
GO
/****** Object:  StoredProcedure [dbo].[SP_ProductVariantDetails_Get]    Script Date: 10-03-2026 12:30:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[SP_ProductVariantDetails_Get]
(
 @Search NVARCHAR(200) = NULL,
 @Start INT = 0,
 @Length INT = 25
)
AS
BEGIN
 SET NOCOUNT ON;

 DECLARE @Total INT, @Filtered INT;

 SELECT @Total = COUNT(*) FROM ProductVariantDetails WHERE IsDeleted = 0;

 SELECT @Filtered = COUNT(*)
 FROM ProductVariantDetails
 WHERE IsDeleted = 0
   AND (@Search IS NULL OR CAST(Id AS NVARCHAR) LIKE '%' + @Search + '%');
   
 SELECT @Total AS TotalRecords, @Filtered AS FilteredRecords;

 SELECT *
 FROM ProductVariantDetails
 WHERE IsDeleted = 0
   AND (@Search IS NULL OR CAST(Id AS NVARCHAR) LIKE '%' + @Search + '%')
 ORDER BY Id DESC
 OFFSET @Start ROWS FETCH NEXT @Length ROWS ONLY;

END

GO
/****** Object:  StoredProcedure [dbo].[SP_ProductVariantDetails_Save]    Script Date: 10-03-2026 12:30:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/* ============================================================
   ProductVariantDetails
============================================================ */

CREATE   PROCEDURE [dbo].[SP_ProductVariantDetails_Save]
(
 @Id INT = 0,
 @IsActive BIT = 1,
 @IsDeleted BIT = 0,
 @Mode NVARCHAR(10),
 @OperatedBy INT,
 @response NVARCHAR(MAX) OUT
)
AS
BEGIN
 SET NOCOUNT ON;

 -- Default Error Response
 SET @response = 'E|Opps!... Something went wrong. Please contact system administrator|0';

 BEGIN TRY

  IF @Mode NOT IN ('SAVE','STATUS')
  BEGIN
   SET @response = 'E|Invalid mode supplied.|0';
   RETURN;
  END

  IF @Mode = 'SAVE'
  BEGIN
   IF @Id > 0
    UPDATE ProductVariantDetails
    SET LastModifiedBy = @OperatedBy,
        LastModifiedDate = GETDATE()
    WHERE Id = @Id;
   ELSE
   BEGIN
    INSERT INTO ProductVariantDetails (CreatedBy)
    VALUES (@OperatedBy);

    SET @Id = SCOPE_IDENTITY();
   END
  END
  ELSE IF @Mode = 'STATUS'
  BEGIN
   UPDATE ProductVariantDetails
   SET IsActive = @IsActive,
       IsDeleted = @IsDeleted,
       LastModifiedBy = @OperatedBy,
       LastModifiedDate = GETDATE()
   WHERE Id = @Id;
  END

  SET @response = 'S|Record saved successfully|' + CAST(@Id AS NVARCHAR);
  RETURN;

 END TRY
 BEGIN CATCH
  SET @response = 'E|' + ERROR_MESSAGE() + '|0';
  RETURN;
 END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[SP_ProductVariantMapping_Get]    Script Date: 10-03-2026 12:30:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[SP_ProductVariantMapping_Get]
(
 @Search NVARCHAR(200) = NULL,
 @Start INT = 0,
 @Length INT = 25
)
AS
BEGIN
 SET NOCOUNT ON;

 DECLARE @Total INT, @Filtered INT;

 SELECT @Total = COUNT(*) FROM ProductVariantMapping WHERE IsDeleted = 0;

 SELECT @Filtered = COUNT(*)
 FROM ProductVariantMapping
 WHERE IsDeleted = 0
   AND (@Search IS NULL OR CAST(Id AS NVARCHAR) LIKE '%' + @Search + '%');
   
 SELECT @Total AS TotalRecords, @Filtered AS FilteredRecords;

 SELECT *
 FROM ProductVariantMapping
 WHERE IsDeleted = 0
   AND (@Search IS NULL OR CAST(Id AS NVARCHAR) LIKE '%' + @Search + '%')
 ORDER BY Id DESC
 OFFSET @Start ROWS FETCH NEXT @Length ROWS ONLY;

END

GO
/****** Object:  StoredProcedure [dbo].[SP_ProductVariantMapping_Save]    Script Date: 10-03-2026 12:30:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/* ============================================================
   ProductVariantMapping
============================================================ */

CREATE   PROCEDURE [dbo].[SP_ProductVariantMapping_Save]
(
 @Id INT = 0,
 @IsActive BIT = 1,
 @IsDeleted BIT = 0,
 @Mode NVARCHAR(10),
 @OperatedBy INT,
 @response NVARCHAR(MAX) OUT
)
AS
BEGIN
 SET NOCOUNT ON;

 -- Default Error Response
 SET @response = 'E|Opps!... Something went wrong. Please contact system administrator|0';

 BEGIN TRY

  IF @Mode NOT IN ('SAVE','STATUS')
  BEGIN
   SET @response = 'E|Invalid mode supplied.|0';
   RETURN;
  END

  IF @Mode = 'SAVE'
  BEGIN
   IF @Id > 0
    UPDATE ProductVariantMapping
    SET LastModifiedBy = @OperatedBy,
        LastModifiedDate = GETDATE()
    WHERE Id = @Id;
   ELSE
   BEGIN
    INSERT INTO ProductVariantMapping (CreatedBy)
    VALUES (@OperatedBy);

    SET @Id = SCOPE_IDENTITY();
   END
  END
  ELSE IF @Mode = 'STATUS'
  BEGIN
   UPDATE ProductVariantMapping
   SET IsActive = @IsActive,
       IsDeleted = @IsDeleted,
       LastModifiedBy = @OperatedBy,
       LastModifiedDate = GETDATE()
   WHERE Id = @Id;
  END

  SET @response = 'S|Record saved successfully|' + CAST(@Id AS NVARCHAR);
  RETURN;

 END TRY
 BEGIN CATCH
  SET @response = 'E|' + ERROR_MESSAGE() + '|0';
  RETURN;
 END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[SP_RolePermissions_Get]    Script Date: 10-03-2026 12:30:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[SP_RolePermissions_Get]
(
 @Search NVARCHAR(200) = NULL,
 @Start INT = 0,
 @Length INT = 25
)
AS
BEGIN
 SET NOCOUNT ON;

 DECLARE @Total INT, @Filtered INT;

 SELECT @Total = COUNT(*) FROM RolePermissions WHERE IsDeleted = 0;

 SELECT @Filtered = COUNT(*)
 FROM RolePermissions
 WHERE IsDeleted = 0
   AND (@Search IS NULL OR CAST(Id AS NVARCHAR) LIKE '%' + @Search + '%');
   
 SELECT @Total AS TotalRecords, @Filtered AS FilteredRecords;

 SELECT *
 FROM RolePermissions
 WHERE IsDeleted = 0
   AND (@Search IS NULL OR CAST(Id AS NVARCHAR) LIKE '%' + @Search + '%')
 ORDER BY Id DESC
 OFFSET @Start ROWS FETCH NEXT @Length ROWS ONLY;

END

GO
/****** Object:  StoredProcedure [dbo].[SP_RolePermissions_Save]    Script Date: 10-03-2026 12:30:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/* ============================================================
   RolePermissions
============================================================ */

CREATE   PROCEDURE [dbo].[SP_RolePermissions_Save]
(
 @Id INT = 0,
 @IsActive BIT = 1,
 @IsDeleted BIT = 0,
 @Mode NVARCHAR(10),
 @OperatedBy INT,
 @response NVARCHAR(MAX) OUT
)
AS
BEGIN
 SET NOCOUNT ON;

 -- Default Error Response
 SET @response = 'E|Opps!... Something went wrong. Please contact system administrator|0';

 BEGIN TRY

  IF @Mode NOT IN ('SAVE','STATUS')
  BEGIN
   SET @response = 'E|Invalid mode supplied.|0';
   RETURN;
  END

  IF @Mode = 'SAVE'
  BEGIN
   IF @Id > 0
    UPDATE RolePermissions
    SET LastModifiedBy = @OperatedBy,
        LastModifiedDate = GETDATE()
    WHERE Id = @Id;
   ELSE
   BEGIN
    INSERT INTO RolePermissions (CreatedBy)
    VALUES (@OperatedBy);

    SET @Id = SCOPE_IDENTITY();
   END
  END
  ELSE IF @Mode = 'STATUS'
  BEGIN
   UPDATE RolePermissions
   SET IsActive = @IsActive,
       IsDeleted = @IsDeleted,
       LastModifiedBy = @OperatedBy,
       LastModifiedDate = GETDATE()
   WHERE Id = @Id;
  END

  SET @response = 'S|Record saved successfully|' + CAST(@Id AS NVARCHAR);
  RETURN;

 END TRY
 BEGIN CATCH
  SET @response = 'E|' + ERROR_MESSAGE() + '|0';
  RETURN;
 END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[SP_Roles_Get]    Script Date: 10-03-2026 12:30:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[SP_Roles_Get]
(
 @Id INT = NULL,
 @Search NVARCHAR(200) = NULL,
 @Start INT = 0,
 @Length INT = 25,
 @SortColumnIndex INT = 0,
 @SortDirection NVARCHAR(4) = 'DESC'
)
AS
BEGIN
 SET NOCOUNT ON;

	-- ============================================
    -- 🔹 IF ID IS PROVIDED → RETURN SINGLE RECORD
    -- ============================================
    IF @Id IS NOT NULL
    BEGIN
        SELECT 
            X.Id,
            X.RoleName,
            X.Description,
            X.IsActive,
            X.LastModifiedDate,
			(SELECT STUFF(( SELECT ',' + CAST(ActionId AS VARCHAR(10)) FROM dbo.RolePermissions WHERE RoleId = X.Id FOR XML PATH('') ),1,1,'')) AS SelectedMenu,
    (
        SELECT STUFF((
            SELECT ',' + A.Name
            FROM dbo.RolePermissions RP
            INNER JOIN dbo.Menus A ON RP.ActionId = A.Id
            WHERE RP.RoleId = X.Id AND A.IsActive = 1
            FOR XML PATH('')
        ),1,1,'')
    ) AS SelectedMenu_Names
        FROM Roles X
        WHERE X.Id = (CASE WHEN @Id < 0 THEN X.Id ELSE @Id END) AND X.IsDeleted = 0
		AND X.IsActive = (CASE WHEN @Id < 0 THEN 1 ELSE X.IsActive END) AND X.Id > 1;

        RETURN;
    END

    -- =============================
    -- Counts
    -- =============================
	 DECLARE @Total INT, @Filtered INT;

	 SELECT @Total = COUNT(*) FROM Users WHERE IsDeleted = 0;

	 SELECT @Filtered = COUNT(*)
	 FROM Roles X WHERE X.IsDeleted = 0 AND (@Search IS NULL OR X.RoleName LIKE '%' + @Search + '%' OR X.Description LIKE '%' + @Search + '%');
   
	 SELECT @Total AS TotalRecords, @Filtered AS FilteredRecords;

	
	-- =============================
    -- Data
    -- =============================
    DECLARE @SQL NVARCHAR(MAX)
	
	DECLARE @OrderBy NVARCHAR(100)

    -- Map column index to actual DB column
    SET @OrderBy = 
        CASE @SortColumnIndex
            WHEN 1 THEN 'X.Id'
            WHEN 2 THEN 'X.RoleName'
            WHEN 3 THEN 'X.SelectedMenu_Names'
            WHEN 4 THEN 'X.Description'
            WHEN 5 THEN 'X.IsActive'
            ELSE 'X.Id'
        END

    -- Force direction safe
    IF @SortDirection NOT IN ('ASC','DESC') SET @SortDirection = 'DESC'

    SET @SQL = '
    SELECT 
        ROW_NUMBER() OVER (ORDER BY ' + @OrderBy + ' ' + @SortDirection + ') + @Start AS SrNo,
        X.Id,
        X.RoleName,
    (
        SELECT STUFF((
            SELECT '','' + A.Name
            FROM dbo.RolePermissions RP
            INNER JOIN dbo.Menus A ON RP.ActionId = A.Id
            WHERE RP.RoleId = X.Id AND A.IsActive = 1
            FOR XML PATH('''')
        ),1,1,'''')
    ) AS SelectedMenu_Names,
        X.Description,
        X.IsActive,
        X.LastModifiedDate
    FROM Roles X
    WHERE X.IsDeleted = 0 AND X.Id > 1
    '

    IF @Search IS NOT NULL
        SET @SQL += '
        AND (
            X.RoleName LIKE ''%'' + @Search + ''%'' OR
            X.Description LIKE ''%'' + @Search + ''%''
        )'

    SET @SQL += ' ORDER BY ' + @OrderBy + ' ' + @SortDirection + ' OFFSET @Start ROWS FETCH NEXT @Length ROWS ONLY'

    EXEC sp_executesql @SQL, N'@Search NVARCHAR(200), @Start INT, @Length INT', @Search, @Start, @Length;

END
GO
/****** Object:  StoredProcedure [dbo].[SP_Roles_Save]    Script Date: 10-03-2026 12:30:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/* ============================================================
   Roles
============================================================ */

CREATE   PROCEDURE [dbo].[SP_Roles_Save]
(
 @Id INT = 0,
 @RoleName NVARCHAR(250) = NULL,
 @Description NVARCHAR(2000) = NULL,
 @SelectedMenu NVARCHAR(1000) = NULL,
 @IsActive BIT = 1,
 @IsDeleted BIT = 0,
 @Mode NVARCHAR(10),
 @OperatedBy INT,
 @response NVARCHAR(MAX) OUT
)
AS
BEGIN
 SET NOCOUNT ON;

 -- Default Error Response
 SET @response = 'E|Opps!... Something went wrong. Please contact system administrator|0';

 BEGIN TRY

  IF @Mode NOT IN ('SAVE','STATUS','DELETE')
  BEGIN
   SET @response = 'E|Invalid mode supplied.|0';
   RETURN;
  END

  IF @Mode = 'SAVE'
  BEGIN
  
   -- ============================
   -- Required Field Validation
   -- ============================
   IF ISNULL(@RoleName,'') = ''
   BEGIN
    SET @response = 'E|Role Name is required.|0';
    RETURN;
   END


   IF @Id > 0
    UPDATE Roles
    SET RoleName = @RoleName,
		Description = @Description,
		LastModifiedBy = @OperatedBy,
        LastModifiedDate = GETDATE()
    WHERE Id = @Id;
   ELSE
   BEGIN
    INSERT INTO Roles (RoleName, Description, CreatedBy)
    VALUES (@RoleName, @Description, @OperatedBy);

    SET @Id = SCOPE_IDENTITY();

   END

	DELETE [dbo].[RolePermissions] WHERE RoleId = @Id;

	IF @SelectedMenu IS NOT NULL
	BEGIN
		INSERT INTO [dbo].[RolePermissions](RoleId, ActionId, IsActive, IsDeleted, CreatedBy)
		SELECT @Id, Id, 1, 0, @OperatedBy
		FROM Menus
		WHERE Id IN ( SELECT CAST(value AS INT) FROM STRING_SPLIT(@SelectedMenu, ',') )
	END
		
  END
  ELSE IF @Mode = 'STATUS'
  BEGIN
   UPDATE Roles
   SET IsActive = @IsActive,
       IsDeleted = @IsDeleted,
       LastModifiedBy = @OperatedBy,
       LastModifiedDate = GETDATE()
   WHERE Id = @Id;
  END
  ELSE IF @Mode = 'DELETE'
  BEGIN
   UPDATE Roles
   SET IsActive = 0,
       IsDeleted = 1,
       LastModifiedBy = @OperatedBy,
       LastModifiedDate = GETDATE()
   WHERE Id = @Id;
   
	--DELETE [dbo].[RolePermissions] WHERE RoleId = @Id;

            SET @response = 'S|Record deleted successfully|' + CAST(@Id AS NVARCHAR);
            RETURN;
  END

  SET @response = 'S|Record saved successfully|' + CAST(@Id AS NVARCHAR);
  RETURN;

 END TRY
 BEGIN CATCH
  SET @response = 'E|' + ERROR_MESSAGE() + '|0';
  RETURN;
 END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UserMenuAccess]    Script Date: 10-03-2026 12:30:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_UserMenuAccess]
(
    @UserId BIGINT
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @RoleId BIGINT;
    DECLARE @RoleName NVARCHAR(100);
    DECLARE @IsSuperAdmin BIT = 0;
    DECLARE @IsAdmin BIT = 0;

    -- Get Role Info
    SELECT 
        @RoleId = r.Id,
        @RoleName = r.RoleName
    FROM Users u
    INNER JOIN Roles r ON u.RoleId = r.Id
    WHERE u.Id = @UserId
      AND u.IsDeleted = 0
      AND r.IsDeleted = 0;

    -- SuperAdmin Check
    IF @RoleName = 'SuperAdmin'
        SET @IsSuperAdmin = 1;

    -- Admin Check
    IF @RoleName = 'Admin'
        SET @IsAdmin = 1;

    /* ============================================================
       1️⃣ FIRST RESULT SET
    ============================================================ */
    SELECT 
        @IsSuperAdmin AS IsSuperAdmin,
        @IsAdmin AS IsAdmin;


    /* ============================================================
       2️⃣ SECOND RESULT SET (UserMenuAccess)
    ============================================================ */

    IF @IsSuperAdmin = 1
    BEGIN
        -- SuperAdmin gets full access to all active menus
        SELECT
            @RoleId                    AS RoleId,
            @UserId                    AS UserId,
            a.Id                       AS MenuId,
            CAST(1 AS BIT)             AS IsCreate,
            CAST(1 AS BIT)             AS IsUpdate,
            CAST(1 AS BIT)             AS IsRead,
            CAST(1 AS BIT)             AS IsDelete,

            r.RoleName                 AS RoleName,
            (u.FirstName + ' ' + u.LastName) AS UserName,
            a.Name                     AS MenuName,
            a.Area                     AS Area,
            a.Controller               AS Controller,
            a.Url                      AS Url,
            ISNULL(a.ParentId,0)   AS ParentMenuId,
            pm.Name                    AS ParentMenuName,
            a.DisplayOrder             AS DisplayOrder

        FROM Menus a
        INNER JOIN Roles r ON r.Id = @RoleId
        INNER JOIN Users u ON u.Id = @UserId
        LEFT JOIN Menus pm ON pm.Id = a.ParentId
        WHERE a.IsDeleted = 0
          AND a.IsActive = 1
        ORDER BY a.DisplayOrder;
    END
    ELSE
    BEGIN
        -- Role-based permissions
        SELECT
            rp.RoleId                  AS RoleId,
            @UserId                    AS UserId,
            a.Id                       AS MenuId,
            r.RoleName                 AS RoleName,
            (u.FirstName + ' ' + u.LastName) AS UserName,
            a.Name                     AS MenuName,
            a.Area                     AS Area,
            a.Controller               AS Controller,
            a.Url                      AS Url,
            ISNULL(a.ParentId,0)   AS ParentMenuId,
            pm.Name                    AS ParentMenuName,
            a.DisplayOrder             AS DisplayOrder

        FROM RolePermissions rp
        INNER JOIN Menus a ON rp.ActionId = a.Id
        INNER JOIN Roles r ON rp.RoleId = r.Id
        INNER JOIN Users u ON u.RoleId = r.Id
        LEFT JOIN Menus pm ON pm.Id = a.ParentId
        WHERE u.Id = @UserId
          AND rp.IsDeleted = 0
          AND rp.IsActive = 1
          AND a.IsDeleted = 0
          AND a.IsActive = 1
        ORDER BY a.DisplayOrder;
    END

END
GO
/****** Object:  StoredProcedure [dbo].[SP_Users_Get]    Script Date: 10-03-2026 12:30:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[SP_Users_Get]
(
 @Id INT = NULL,
 @Search NVARCHAR(200) = NULL,
 @Start INT = 0,
 @Length INT = 25,
 @SortColumnIndex INT = 0,
 @SortDirection NVARCHAR(4) = 'DESC'
)
AS
BEGIN
 SET NOCOUNT ON;

	-- ============================================
    -- 🔹 IF ID IS PROVIDED → RETURN SINGLE RECORD
    -- ============================================
    IF @Id IS NOT NULL
    BEGIN
        SELECT 
            X.Id,
            X.RoleId,
            R.RoleName,
            X.FirstName,
            X.LastName,
            X.UserName,
            X.IsActive,
            X.LastModifiedDate
        FROM Users X
        LEFT JOIN Roles R ON R.Id = X.RoleId
        WHERE X.Id = (CASE WHEN @Id < 0 THEN X.Id ELSE @Id END) AND X.IsDeleted = 0
		AND X.IsActive = (CASE WHEN @Id < 0 THEN 1 ELSE X.IsActive END) ;

        RETURN;
    END

 DECLARE @OrderBy NVARCHAR(100)

    -- Map column index to actual DB column
    SET @OrderBy = 
        CASE @SortColumnIndex
            WHEN 0 THEN 'X.Id'
            WHEN 1 THEN 'X.UserName'
            WHEN 2 THEN 'X.FirstName'     -- FullName
            WHEN 3 THEN 'R.RoleName'
            WHEN 4 THEN 'X.IsActive'
            ELSE 'X.Id'
        END

    -- Force direction safe
    IF @SortDirection NOT IN ('ASC','DESC')
        SET @SortDirection = 'DESC'

    -- =============================
    -- Counts
    -- =============================
	 DECLARE @Total INT, @Filtered INT;

	 SELECT @Total = COUNT(*) FROM Users WHERE IsDeleted = 0;

	 SELECT @Filtered = COUNT(*)
	 FROM Users X WHERE X.IsDeleted = 0 AND (@Search IS NULL OR X.UserName LIKE '%' + @Search + '%' OR X.FirstName LIKE '%' + @Search + '%' OR X.LastName LIKE '%' + @Search + '%');
   
	 SELECT @Total AS TotalRecords, @Filtered AS FilteredRecords;

	
	-- =============================
    -- Data
    -- =============================
    DECLARE @SQL NVARCHAR(MAX)

    SET @SQL = '
    SELECT 
        ROW_NUMBER() OVER (ORDER BY ' + @OrderBy + ' ' + @SortDirection + ') + @Start AS SrNo,
        X.Id,
        X.RoleId,
        R.RoleName,
        X.FirstName,
        X.LastName,
        X.UserName,
        X.IsActive,
        X.LastModifiedDate
    FROM Users X
    LEFT JOIN Roles R ON R.Id = X.RoleId
    WHERE X.IsDeleted = 0
    '

    IF @Search IS NOT NULL
        SET @SQL += '
        AND (
            X.UserName LIKE ''%'' + @Search + ''%'' OR
            X.FirstName LIKE ''%'' + @Search + ''%'' OR
            X.LastName LIKE ''%'' + @Search + ''%''
        )'

    SET @SQL += '
    ORDER BY ' + @OrderBy + ' ' + @SortDirection + '
    OFFSET @Start ROWS FETCH NEXT @Length ROWS ONLY'

    EXEC sp_executesql
        @SQL,
        N'@Search NVARCHAR(200), @Start INT, @Length INT',
        @Search, @Start, @Length;

END
GO
/****** Object:  StoredProcedure [dbo].[SP_Users_Save]    Script Date: 10-03-2026 12:30:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/* ============================================================
   Users
============================================================ */

CREATE   PROCEDURE [dbo].[SP_Users_Save]
(
 @Id INT = 0,
 @RoleId INT = 0,
 @UserName NVARCHAR(250) = NULL,
 @Password NVARCHAR(500) = NULL,
 @FirstName NVARCHAR(250) = NULL,
 @LastName NVARCHAR(250) = NULL,
 @IsActive BIT = 1,
 @IsDeleted BIT = 0,
 @Mode NVARCHAR(10),
 @OperatedBy INT,
 @response NVARCHAR(MAX) OUT
)
AS
BEGIN
 SET NOCOUNT ON;

 -- Default Error Response
 SET @response = 'E|Opps!... Something went wrong. Please contact system administrator|0';

 BEGIN TRY

  IF @Mode NOT IN ('SAVE','STATUS','DELETE')
  BEGIN
   SET @response = 'E|Invalid mode supplied.|0';
   RETURN;
  END

  IF @Mode = 'SAVE'
  BEGIN
  
   -- ============================
   -- Required Field Validation
   -- ============================
   IF ISNULL(@FirstName,'') = ''
   BEGIN
    SET @response = 'E|First Name is required.|0';
    RETURN;
   END

   IF ISNULL(@LastName,'') = ''
   BEGIN
    SET @response = 'E|Last Name is required.|0';
    RETURN;
   END

   IF ISNULL(@UserName,'') = ''
   BEGIN
    SET @response = 'E|User Name is required.|0';
    RETURN;
   END

   IF ISNULL(@RoleId,0) = 0
   BEGIN
    SET @response = 'E|Role is required.|0';
    RETURN;
   END

   -- ============================
   -- Password Rule
   -- ============================
   IF @Id = 0 AND ISNULL(@Password,'') = ''
   BEGIN
    SET @response = 'E|Password is required for new user.|0';
    RETURN;
   END

   -- ============================
   -- Duplicate Validation
   -- ============================
   IF EXISTS (
        SELECT 1
        FROM Users
        WHERE UserName = @UserName
          AND IsDeleted = 0
          AND (@Id = 0 OR Id <> @Id)
      )
   BEGIN
    SET @response = 'E|User Name already exists.|0';
    RETURN;
   END

   IF @Id > 0
    UPDATE Users
    SET RoleId = @RoleId,
		 UserName = @UserName,
		 Password = (CASE WHEN ISNULL(@Password, '') != '' THEN @Password ELSE Password END),
		 FirstName = @FirstName,
		 LastName = @LastName,
		 IsActive = @IsActive,
		 LastModifiedBy = @OperatedBy,
        LastModifiedDate = GETDATE()
    WHERE Id = @Id;
   ELSE
   BEGIN
    INSERT INTO Users (CreatedBy)
    VALUES (@OperatedBy);

    SET @Id = SCOPE_IDENTITY();
   END
  END
  ELSE IF @Mode = 'STATUS'
  BEGIN
   UPDATE Users
   SET IsActive = @IsActive,
       IsDeleted = @IsDeleted,
       LastModifiedBy = @OperatedBy,
       LastModifiedDate = GETDATE()
   WHERE Id = @Id;
  END
  ELSE IF @Mode = 'DELETE'
  BEGIN
   UPDATE Users
   SET IsActive = 0,
       IsDeleted = 1,
       LastModifiedBy = @OperatedBy,
       LastModifiedDate = GETDATE()
   WHERE Id = @Id;
   
            SET @response = 'S|Record deleted successfully|' + CAST(@Id AS NVARCHAR);
            RETURN;
  END

  SET @response = 'S|Record saved successfully|' + CAST(@Id AS NVARCHAR);
  RETURN;

 END TRY
 BEGIN CATCH
  SET @response = 'E|' + ERROR_MESSAGE() + '|0';
  RETURN;
 END CATCH
END
GO
